<div class="row marleft">
  <div class="col m12 s12">
    <div class="cstmMargin">
      <h2 class="cstmText">Coming Soon!</h2>
      <div class="btnDiv">
        <button  class="btn cstmBtn">Go to Home</button>
      </div>
    </div>
  </div>
</div>