@media only screen and (min-width: 961px) {
  ::ng-deep .marleft {
    margin-left: 200px;
  }
}

.cstmMargin {
  margin-top: 7%;
}
.cstmText {
  text-align: center;
}
.btnDiv {
  width: 100%;
  text-align: center;
}
.cstmBtn {
  background-color: #9540a9;
  border: 1px solid #9540a9;
  color: #fff;
}
