<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Travel Request Progress Summary</h6>
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m4 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 travelRequestDiv1" style="margin-top: 27px;">
          <span></span>
          <span>New Request</span>
          <span>30</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle mat-raised-button " (click)="pushToPage('New Request')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m4 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 travelRequestDiv1 travelRequestDiv2" style="margin-top: 27px;">
          <span></span>
          <span>In Progress</span>
          <span>26</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle mat-raised-button"(click)="pushToPage('In Progress')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m4 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 travelRequestDiv1  travelRequestDiv3" style="margin-top: 27px;">
          <span></span>
          <span>Closed</span>
          <span>67</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle mat-raised-button"(click)="pushToPage('Closed')">View Details</button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Visa Request Progress Summary</h6>
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m4 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1" style="margin-top: 27px;">
          <span></span>
          <span>New Request</span>
          <span>43</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle mat-raised-button"(click)="push('New Request')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m4 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1 visaRequestDiv2" style="margin-top: 27px;">
          <span></span>
          <span>In Progress</span>
          <span>23</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle mat-raised-button"(click)="push('New Request')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m4 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1  visaRequestDiv3" style="margin-top: 27px;">
          <span></span>
          <span>Closed</span>
          <span>54</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle mat-raised-button"(click)="push('New Request')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col m4 s12 " style="margin-top:40px;" style="margin-top:40px;" >
        <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8" style=" margin-top: -30px; background: linear-gradient(60deg,#ffa726,#fb8c00); border-radius:4px">
          <chart [type]="type1" [data]="data" [options]="options"></chart>
        </div>
        <div class="col m12 s12">
          <h5>Completed Tasks</h5>
          <h6>Last Campaign Performance </h6> 
      </div>
        
        <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
          <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="material-icons left">history</i>Campaign sent 2 days ago</p>
        </div>
      </div>
    </div>
    
    <div class="col m4 s12 " style="margin-top:40px;">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
      <div class="col m12 s12 mat-elevation-z8" style=" margin-top: -30px; background: linear-gradient(60deg,#ef5350,#e53935); border-radius:4px">
        <chart [type]="type" [data]="data" [options]="options"></chart>
      </div>
      <div class="col m12 s12">
        <h5>Email Subscriptions</h5>
        <h6>Last Campaign Performance</h6> 
    </div>
      
      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="material-icons left">history</i>Campaign sent 2 days ago</p>
      </div>
    </div>
    </div> -->
  </div>

</div>


<!-- <div class="col m12 s12"> 
</div>
<div class="row marleft" > 
  <div class="col m4 s12 " style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
  <div class="col m12 s12" style="margin-top: 27px;">
    <img src="assets/icons/new-request.png" width="10%" style="margin:auto"> 
      <p class="visaRequestCard">
    New Request        43
     </p>
  </div>
  <button mat-raised-button class="right">View Details</button>
  </div>
  </div>
  <div class="col m4 s12 " style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
  <div class="col m12 s12" style="margin-top: 27px;">
    <img src="assets/icons/in-progress.png" width="10%" style="margin:auto"> 
      <p class="visaRequestCard">
    In Progress       43
     </p>
  </div>
  <button mat-raised-button class="right">View Details</button>
  </div>
  </div>
  <div class="col m4 s12 " style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
  <div class="col m12 s12" style="margin-top: 27px;">
    <img src="assets/icons/closed.png" width="10%" style="margin:auto"> 
      <p class="visaRequestCard">
    CLosed       43
     </p>
  </div>
  <button mat-raised-button class="right">View Details</button>
  </div>
  </div>
</div>



<div class="col m12 s12" style="border-top:2px solid #9540a9;"> 
</div>
<div class="row marleft" > 
  <div class="col m4 s12 " style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
  <div class="col m12 s12" style="margin-top: 27px;">
    <img src="assets/icons/new-request.png" width="10%" style="margin:auto"> 
      <p class="visaRequestCard">
    New Request        43
     </p>
  </div>
  <button mat-raised-button class="right">View Details</button>
  </div>
  </div>
  <div class="col m4 s12 " style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
  <div class="col m12 s12" style="margin-top: 27px;">
    <img src="assets/icons/in-progress.png" width="10%" style="margin:auto"> 
      <p class="visaRequestCard">
    In progress       43
     </p>
  </div>
  <button mat-raised-button class="right">View Details</button>
  </div>
  </div>
  <div class="col m4 s12 " style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
  <div class="col m12 s12" style="margin-top: 27px;">
    <img src="assets/icons/closed.png" width="10%" style="margin:auto"> 
      <p class="visaRequestCard">
    Closed       43
     </p>
  </div>
  <button mat-raised-button class="right">View Details</button>
  </div>
  </div>
</div> -->