 @media only screen and (min-width: 961px) {
    ::ng-deep .marleft{
        margin-left:200px
    }    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  } 
  .mat-raised-button.mat-primary{
    background-color: #189db2 !important;
    border: 1px solid #189db2 !important;
  }

  .titleDiv {
    width: 97%;
    margin: 2% auto -4px;
  }
  .meterTag::-webkit-meter-optimum-value {
    background: #9540a9;
    border-radius: 18px;
  }
  .meterTag {
    width: 100%;
    height: 0.3vw;
  }
  .colorStyle::-webkit-meter-optimum-value {
    background: #9540a9 !important;
  }
  .meterTag2 {
    width: 97%;
    height: 0.3vw;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  /**********************modal*****************************/
  .modal-header {
    border-bottom: none;
  }
  .form-control {
    border: none !important;
  }
  .inputStyle {
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0;
  }
  .inputPadding {
    padding-right: 0;
  }
  .modal-footer {
    border-top: none;
    width: 100%;
  }
  .submitBtn {
    width: 49%;
    text-align: right;
  }
  .cancelBtn {
    width: 49%;
  }
  .submitBtnStyle {
    background-color: #9540a9;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #9540a9;
  }
  .cancelBtnStyle {
    background-color: #169db1;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #169db1;
  }