<div class="row marleft">
  <!-- <div class="col m8 s12" style="margin-top:40px;">
    <div class="col m12 s12 white mat-elevation-z4" style=" border-radius: 4px">
        <div class="col m12 s12 mat-elevation-z8" style="margin-top:-30px; border-radius:4px;    background: linear-gradient(60deg,#ab47bc,#8e24aa);">
          <h5 class="white-text">Edit Profile </h5>
          <h6 class="white-text">Complete your profile</h6>
        </div>
        <div class="col m12 s12" style="margin-top:20px; margin-bottom: 20px">
            <div class="col m4 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Company (disabled)" disabled>
              </mat-form-field>
            </div>
            <div class="col m4 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="UserName">
              </mat-form-field>
            </div>
            <div class="col m4 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email">
              </mat-form-field>
            </div>
            <div class="col m6 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name">
              </mat-form-field>
            </div>
            <div class="col m6 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name">
              </mat-form-field>
            </div>
            <div class="col m12 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address">
              </mat-form-field>
            </div>

            <div class="col m4 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="City">
              </mat-form-field>
            </div>
            <div class="col m4 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Country">
              </mat-form-field>
            </div>
            <div class="col m4 s12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Postal Code">
              </mat-form-field>
            </div>
            <div class="col m12 s12">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="About Me"></textarea>
              </mat-form-field>
            </div>
            <div class="col m12 s12">
              <button mat-raised-button color="primary">Update Profile</button>
            </div>
        </div>
    </div>
  </div>  -->
  <!-- <div class="col m4 s12" style="margin-top:40px; ">  -->
  <div class="col m12 s12" style="margin-top: 6%; ">
    <div class="col m2 s12 ">
    </div>
    <div class="col m8 s12 white mat-elevation-z4 " style=" border-radius: 4px; ">
      <div class="col m12 s12 center ">
        <img class="mat-elevation-z8" src="assets/amplogo.jpg" style="border-radius:50%; margin-top: -40px; width: 20%">
      </div>
      <h5 class="center">Ampersand Academy</h5>
      <h6>Courses</h6>
      <p>SAS, R, Ionic, Angular, Data Science and Data Analytics Training</p>
      <h6>Website</h6>
      <a class="purple-text" href="http://www.ampersandacademy.com" target="_blank">Ampersand Academy</a>
      <h6>Email</h6>
      <p>ampersandacademy@gmail.com</p>
      <div class="col m12 s12 center" style="margin-bottom: 20px">
        <button mat-raised-button color="primary" data-toggle="modal" data-target="#profileModal">View Profile</button>
      </div>
    </div>
    <div class="col m2 s12">
    </div>
  </div>
</div>



<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">UserName:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #UserName
                [(ngModel)]="User" />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Email />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">First Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #FirstName />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Last Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #LastName />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Address:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">City:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #City />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Country:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Country />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Postal Code:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #PostalCode />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">About Me:</label>
              <textarea class="form-control inputStyle"></textarea>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="submitBtn">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">Submit</button>
        </div>
        <div class="cancelBtn">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">Update Profile</button>
        </div>

      </div>
    </div>
  </div>
</div>