<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Query Master
      <!-- <div class="BtnDiv">
        <button mat-raised-button class="btn btn-primary addRoleBtn" matTooltip="Add Role"
          aria-label="displays a tooltip" matTooltipPosition="before" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@getbootstrap" (click)="AddRole('Add Main Category')">
          <img src="assets/icons/add-employee.png" />
        </button>
      </div> -->
    </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="searchDiv">
      <input class="form-control form-control-sm searchImg" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="Search by all field name ">
    </div>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle">Main </span>
          <span class="headingTitle">Sub</span>
          <span class="headingTitle">Name</span>
          <span class="headingTitle">Address</span>
          <span class="headingTitle">Phone</span>          
          <span class="headingTitle"> Status Action</span>
          
        </div>
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;"           
           *ngFor="let x of cv | filter:searchText  | paginate: { itemsPerPage: 5, currentPage: p } ">
            <span>
              {{x.MainCategoryId}}
            </span>
            <span>
              {{x.SubCategoryId}}
            </span>
            <span>
            {{x.name}}
            </span>
            <span>
             {{x.address}}
            </span>
            <span>
              {{x.phone}}
             </span>
             <span>
              {{x.Status}}
              <img src="assets/icons/edit_icon.png" class="editIcon" data-toggle="modal" data-target="#excelUploadModal"
              data-whatever="@getbootstrap" (click)="Add(x)" >
             </span>
         
          </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <div>
          
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="excelUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form [formGroup]="addroleformGroup" (keypress)="($event.charCode==13)?onSubmit():''">
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> User Name:<span style="color: red;">*</span></label>
              <input type="text" id="number" class="form-control inputStyle" name="number" formControlName="roleName"
                [(ngModel)]="roleName" />
            </div>
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label">Select Vendor:<span style="color: red;">*</span></label>
                <select name="cars" class="form-control inputStyle" formControlName="MainCategory"(change)="onChange($event.target.value)">
                  <option value="select country list">select Vendor list</option>
                  <option *ngFor="let main of geRoleList" value="{{main._id}}">{{main.name}}
                </select>
              </div>
            </div>      
        </form>
      </div>
      <div class="modal-footer">
        <div style=" width: 100%;text-align: center;">
          <button type="button" class="btn btn-primary submitBtnStyle" 
            (click)="onSubmit()">Add Category</button>
        </div>
      </div>
    </div>
  </div>
</div>