<!-- <app-sidenav ></app-sidenav> -->
<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">{{val}} Visa List
      <div class="searchDiv">
        <input class="form-control form-control-sm searchImg" type="text" placeholder="Search" aria-label="Search"
          mdbInput >
      </div>
    </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv1"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle1">Visa Id</span>
          <span class="headingTitle">Visa Name</span>
          <span class="headingTitle">Visa Type</span>
          <span class="headingTitle">Country</span>
          <span class="headingTitle">Visa Info</span>
          <span class="headingTitle">Organization</span>
          <span class="headingTitle">Status</span>
        </div>
        <div class="col m12 s12">
          <div class="mainDiv1" style="margin-top: 2%;" *ngFor="let x of cv">
            <span>
              <div class="nameDiv">
               
                <div class="nameSubDiv2">XYZ001</div>
              </div>
            </span>
            <span>
              Visa Name
            </span>
            <span>
              Visa Type
            </span>
            <span>
            India
            </span>
            <span>
             Visa Info
            </span>
            <span>
            Organization
            </span>
            <span>
              <button type="button" class="btn btn-primary newRequestBtn">
                {{val}}</button>
            </span>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titleHeading}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Requester Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyName
                [(ngModel)]="employee" />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Ticket Id:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyAdd />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Request Type:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Project Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Request Date:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
  
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Approved by :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Reporting manager:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Job Title :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Organization Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Organization Address:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Department:</label>
              <select name="cars" class="form-control inputStyle">
                <option value="volvo"> Executive Office</option>
                <option value="saab"> Operating Office</option>
                <option value="fiat"> Financial Office</option>
                <option value="audi"> Technology Office</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Role:</label>
              <select name="cars" class="form-control inputStyle">
                <option value="volvo"> Executive role</option>
                <option value="saab"> Operating role</option>
                <option value="fiat"> Financial role</option>
                <option value="audi"> Technology role</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Country:</label>
              <select name="cars" class="form-control inputStyle">
                <option value="volvo"> India</option>
                <option value="saab"> Singapore</option>
                <option value="fiat"> USA</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Employee Image:</label>
              <input type="file" id="number" class="form-control inputStyle inputPadding" name="number" #Department />
            </div>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary setclose" data-dismiss="modal" (click) = "send($event)">Close</button> -->
        <div class="submitBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">{{buttonName}}1</button>
        </div>
        <div class="cancelBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">{{buttonName}}</button>
        </div>

      </div>
    </div>
  </div>
</div>