.titleDiv {
  width: 97%;
  margin: 2% auto -4px;
}
.meterTag::-webkit-meter-optimum-value {
  background: #9540a9;
  border-radius: 18px;
}
.meterTag {
  width: 100%;
  height: 0.3vw;
}
.colorStyle::-webkit-meter-optimum-value {
  background: #9540a9 !important;
}
.meterTag2 {
  width: 97%;
  height: 0.3vw;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.headingTitle1 {
  color: #fff;
  font-weight: 600;
  padding-left: 1%;
}
.headingTitle {
  color: #fff;
  font-weight: 600;
}
.mainDiv1 {
  display: table;
  width: 100%;
  white-space: normal;
  word-break: break-word;
}
.mainDiv1 span {
  display: table-cell;
  vertical-align: top;
  width: 15%;
}
.mainDiv1 span:nth-of-type(4) {
  width: 10%;
}
.mainDiv1 span:nth-of-type(5) {
  width: 10%;
}
.mainDiv1 span:nth-of-type(6) {
  width: 13%;
}
.mainDiv1 span:nth-of-type(7) {
  width: 12%;
}
.mainDiv1:last-child {
  margin-bottom: 2%;
}
.nameDiv {
  width: 100%;
  float: left;
}
.nameSubDiv1 {
  margin: auto;
  float: left;
}
.nameSubDiv2 {
  width: 45%;
  float: left;
  margin-left: 5%;
}

/*******************************************/
.trackBtn {
  width: 65%;
  color: #3a81c3;
  border: 1px solid #3a81c3;
  border-radius: 5px;
  background-color: #fff;
}
.notifyBtn {
  width: 65%;
  margin-top: 3%;
  color: #e62825;
  border: 1px solid #e62825;
  border-radius: 5px;
  background-color: #fff;
}
/*****************search*************************/
.searchDiv {
  float: right;
}
.searchImg {
  background: url(/assets/icons/search.png) no-repeat #fff;
  background-size: 7%;
  background-position: 4% center;
  padding-left: 12%;
  border-radius: 25px !important;
}
/**********************modal*****************************/
.modal-header {
  border-bottom: none;
}
.form-control {
  border: none !important;
}
.inputStyle {
  border-bottom: 1px solid #ced4da !important;
  border-radius: 0;
}
.inputPadding {
  padding-right: 0;
}
.modal-footer {
  border-top: none;
  width: 100%;
}
.submitBtn {
  width: 49%;
  text-align: right;
}
.cancelBtn {
  width: 49%;
}
.submitBtnStyle {
  background-color: #9540a9;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #9540a9;
}
.cancelBtnStyle {
  background-color: #169db1;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #169db1;
}

@media (min-width: 768px) and (orientation: portrait) {
  .trackBtn{
    width: 69%;
    margin-bottom: 5%;
  }
  .notifyBtn{
    width: 69%;
  }
}

@media only screen and (max-width: 1024px) {
  .trackBtn{
    margin-bottom: 5%;
  }
}