
<div class="row marleft">
  <div class="col m12 s12" style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8" style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          
          <div class="col m2 s2">
            <button class="white-text" mat-button  > Name </button>
          </div>
          <div class="col m2 s2">
            <button class="white-text" mat-button  > Email</button>
          </div>
          <div class="col m2 s2">
            <button class="white-text" mat-button  > Designation</button>
          </div>
          <div class="col m2 s2">
            <button class="white-text" mat-button  > Department</button>
          </div>
          <div class="col m2 s2">
            <button class="white-text" mat-button  >Team/Group</button>
          </div>
          <div class="col m2 s2">
            <button class="white-text" mat-button  > Status</button>
          </div>
        </div>
        <div class="col m12 s12" >          
          <div class="row" style="margin-top:20px" *ngFor="let x of cv" >
          <div class="col m2 s2">
            <img  src="assets/download.jpeg" width="20%" height="20" style="margin:auto"> Avinash sharma
           </div>
           <div class="col m2 s2">
             <p style="margin-top:-5px">
            ricky.agra@gmail.com
             </p>
           </div>
           <div class="col m2 s2">
            <p style="margin-top:-5px">
           Super Admin
            </p>
          </div>
          <div class="col m2 s2">
            <p style="margin-top:-5px">
              I.T Developer
            </p>
          </div>
          <div class="col m2 s2">
            <p style="margin-top:-5px">
         Immigration
            </p>
          </div>
        
           <div class="col m2 s2 center">
            <i class="material-icons" (click)="delete()">
              delete_forever
              </i>
              <i class="material-icons">
                edit
                </i>
                <i class="material-icons">
                  remove_red_eye
                  </i>
           </div>
          </div>

        </div>
          
    </div>
  </div>             
</div>