<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Main Sub Category Master
      <div class="BtnDiv">
        <button mat-raised-button class="btn btn-primary addRoleBtn" matTooltip="Add Role"
          aria-label="displays a tooltip" matTooltipPosition="before" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@getbootstrap" (click)="AddRole('Add Main Category')">
          <img src="assets/icons/add-employee.png" />
        </button>
      </div>
    </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="searchDiv">
      <input class="form-control form-control-sm searchImg" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="Search by all field name ">
    </div>
 
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle1"> Main Category Name</span>
          <span class="headingTitle1"> Sub Category Name</span>
          <span class="headingTitle1"> Image</span>
          <span class="headingTitle1"> Action</span>
        </div>
        <!-- <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px"> -->
          <!-- <div class="col m12 s12 mat-elevation-z8 mainDiv"
            style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
            <span class="headingTitle1"> Img</span>
       
          </div> -->
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;"
            *ngFor="let x of getSubList | filter:searchText  | paginate: { itemsPerPage: 5, currentPage: p } ">
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.MainCategory}}</div>
              </div>
            </span>
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.Subcategory}}</div>
              </div>
            </span>
            <span>
              <div class="nameDiv">
                <img src="{{x.imageUrl}}" height="40" class="nameSubDiv1">
              
              </div>
            </span>
            <span>
              <img src="assets/icons/edit_icon.png" class="editIcon" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap" (click)="AddEmp('Edit Details',x)">
              <img src="assets/icons/delete_icon.png"  (click)="delete(x._id)">
            </span>
          </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <!-- </div> -->
    </div>

<!------------------------Column Name Filtter End------------------------>
  
  </div>
</div>


<!------------------------addModal------------------------>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titleHeading}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form [formGroup]="addroleformGroup" (keypress)="($event.charCode==13)?onSubmit():''">
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Main Category Name:<span style="color: red;">*</span></label>
              <input type="text" id="number" class="form-control inputStyle" name="number" formControlName="roleName"
                [(ngModel)]="roleName" />
            </div>
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label">Select Main Category:<span style="color: red;">*</span></label>
                <select name="cars" class="form-control inputStyle" formControlName="MainCategory" [(ngModel)]="MainCategory" >
                  <option value="select country list">select Main Category list</option>
                  <option *ngFor="let main of geRoleList" value="{{main.MainCateory}}">{{main.MainCateory}}
                </select>
              </div>
              <div class="col-md-6">
                  <label for="recipient-name" class="col-form-label">Country:<span style="color: red;">*</span></label>
              <input type="file" id="file" (change)="onSelectedFile($event)" />
           
              </div>
              <div class="col-md-6">              
                  <img src="{{imgUrl}}" height="40" class="nameSubDiv1">
            <!-- <img src="{{x.imgUrl}}" height="40" class="nameSubDiv1"> -->
            </div>

            </div>      
        </form>
      </div>
      <div class="modal-footer" >
        <div style=" width: 100%;text-align: center;" *ngIf="addButtonShow">
          <button type="button" class="btn btn-primary submitBtnStyle" 
            (click)="onSubmit()">Add Subcategory</button>
        </div>

        <div style=" width: 100%;text-align: center;" *ngIf="editButtonHide">
          <button type="button" class="btn btn-primary submitBtnStyle" 
            (click)="onEdit()"> Edit Subcategory</button>
        </div>

      </div>
    </div>
  </div>
</div>





<!------------------------importModal------------------------>

<ng4-loading-spinner class="loaderIcon" [threshold]="1000" [timeout]="1000" [loadingText]="'Please wait...'"
  [zIndex]="9999">
</ng4-loading-spinner>