<div class="row marleft">
    <div class="col m12 s12" style="margin-top:40px">
        <div class="col m12 s12 mat-elevation-z8" style="border-radius:4px;  background: linear-gradient(60deg,#ab47bc,#512f6f); padding:10px">
            <h5 class="white-text">Google Maps</h5>
            <h6 class="white-text">Handcrafted by our friends from Google</h6>
          </div>
          <div class="row center" style="margin-top:40px">
              <agm-map class="marleft" [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
        </div>
          </div>
          </div>