/****************visa Request**********************/
@media only screen and (min-width: 961px) {
  ::ng-deep .marleft {
    margin-left: 200px;
  }
}
.titleDiv {
  width: 97%;
  margin: 2% auto -4px;
}
.colorStyle::-webkit-meter-optimum-value {
  background: #9540a9 !important;
}
.meterTag2 {
  width: 97%;
  height: 0.3vw;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
/*******************topDiv*************************/
.projectIdDiv {
  margin-bottom: 2% !important;
}
.labelMargin {
  margin-right: 2%;
}
.searchInputBox {
  display: inline-block;
  width: 75%;
}
.searchImg {
  background: url(/assets/icons/search.png) no-repeat #fff;
  background-size: 5%;
  background-position: 96% center;
  padding: 3%;
  padding-left: 1%;
  border-radius: 4px !important;
}
.selectBackground {
  background-color: #ebf6f7 !important;
}
.headingSpace {
  margin-bottom: 3%;
}

/******************title*********************/
.mainHeading {
  font-weight: 600;
  font-size: 1em !important;
}
/************************topDiv radio*******************************/
.cstmRadio .mat-radio-button {
  margin-right: 2% !important;
}
/*******************searchDiv*****************/
.div1 {
  width: 50%;
  float: left;
}
.topDivHeading {
  /* margin-bottom: 2%; */
  margin-bottom: 1%;
}
.searchInputBox2 {
  width: 100%;
  padding: 3%;
}
.searchImg2 {
  background: url(/assets/icons/search.png) no-repeat #fff;
  background-size: 4%;
  background-position: 96% center;
  border-radius: 4px !important;
}
/*******************btn*****************/
.BtnDiv1 {
  width: 50%;
  float: left;
  text-align: center;
}
.BtnDiv {
  text-align: right;
}
.addCountryBtn {
  background-color: #189db2;
  border: 1px solid #189db2;
  border-radius: 20px;
  margin-right: 0.5%;
  width: 50%;
}
.addCityBtn {
  background-color: #189db2;
  border: 1px solid #189db2;
  border-radius: 20px;
  width: 43%;
}
.addImg {
  margin-right: 3%;
}

/*******************Travel Date****************************/
.headingText {
  margin-top: 2%;
}
/****************travelDetailDiv******************/
.travelDetailDiv1 {
  margin-top: 3%;
  color: #9540a9;
  font-weight: 600;
}
.travelFromPlaceHeading {
  margin-bottom: 1% !important;
  margin-top: 3%;
  margin-left: 4%;
}

.travelFromPlaceInfo {
  margin-bottom: 2% !important;
  font-size: 0.9em !important;
  color: gray !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/************selectDiv***************/
.paddingStyleDiv1 {
  padding-left: 0 !important;
}
.paddingStyleDiv2 {
  padding-right: 0 !important;
}
.selectDiv {
  background-color: #efefef;
  padding: 1% 2% 3% 2% !important;
  border-radius: 4px;
}
.styleDiv{
  padding: 1% 0% 6% 0% !important;
}
.boldText {
  font-weight: 600;
  color: #212529 !important;
}
/********************Rating**********************************/
.ratingDiv{
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}
.labelStyle {
  display: inline;
  margin-right: 6%;
  color: #9540a9;
  font-weight: 600;
}
.inputStyle1 {
  display: inline-block;
  width: 50%;
}

/**********************HostContactDiv***************************/
.mainHostContactDiv {
  background-color: #efefef !important;
  border-radius: 4px;
}
.paddingHostContactDiv1 {
  padding: 0 !important;
}

/***************textarea*********************/
.textAreaDiv {
  padding: 1% 2% 1% 0% !important;
}
.textareaStyle {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100% !important;
  padding: 0.375rem 0.75rem;
}
.textAreaSpan {
  float: right;
  font-size: 0.9em;
  color: gray !important;
}
/**********************Document required****************************/
.redColor{
  color:#e62825;
}
.mainDiv {
  display: table;
  width: 100%;
  white-space: normal;
  word-break: break-word;
}
.mainDiv span {
  display: table-cell;
  vertical-align: top;
}
.mainDiv span:nth-of-type(1) {
  width: 5%;
}
.mainDiv span:nth-of-type(2) {
  width: 40%;
}
.mainDiv span:nth-of-type(3) {
  width: 18%;
}
.mainDiv span:nth-of-type(4) {
  width: 15%;
}
.mainDiv span:nth-of-type(5) {
  width: 22%;
  color: #9540a9;
  text-align: right;
  padding-right: 2%;
}
.mainDiv:last-child {
  margin-bottom: 2%;
}
.countingDiv {
  background-color: #9540a9;
  color: #fff;
  padding: 7% 0 7% 3%;
  border-radius: 46px;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
}
.uploadBtnStyle{
  color: #3a81c3;
  border: 1px solid #3a81c3;
  border-radius: 5px;
  background-color: #fff;
}
.docImg{
  margin-right: 3%;
}
.closeImg{
  margin-left: 10%;
}
/**********************Document Required Div*****************************/
.printDiv{
  width: 50%;
  float: left;
}
.spaceRight{
  margin-right: 3%;
}
/*************************btn***********************/
.submitBtn {
  /* width: 50%; */
  float: right;
  text-align: right;
}
.submitBtnStyle {
  background-color: #9540a9;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #9540a9;
  /* padding-right: 2%;
  padding-left: 2%; */
}
