<!----visa request------->
<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Visa Request</h6>
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;margin-top:2%">
      <!-----topDiv start------>
      <div class="col m12 s12" style="margin-top: 2%;margin-bottom: 1%; border-bottom: 2px solid #ccc;">
        <div class="col m6 s6 paddingStyleDiv1">
          <!-- <form class="example-form projectIdDiv">
            <label for="recipient-name" class="labelMargin boldText">Project ID:</label>
            <input type="text" class="form-control form-control-sm searchInputBox searchImg"
              placeholder="Search for a Project ID" [formControl]="control" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                {{street}}
              </mat-option>
            </mat-autocomplete>
          </form> -->
          <form class="example-form projectIdDiv">
            <label for="recipient-name" class="labelMargin boldText">Project ID:</label>
            <input type="text" class="form-control form-control-sm searchInputBox searchImg"
              placeholder="Search for a Project ID" [formControl]="control" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete"(optionSelected)='getProjectId($event.option.value)'>
              <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                {{street}}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>
        <div class="col m6 s6 paddingStyleDiv1">
          <div class="col m12">
            <label for="recipient-name" class="labelMargin boldText">Travel will be:</label>
            <mat-radio-group aria-label="Select an option" class="cstmRadio"  [(ngModel)]="selection">
              <mat-radio-button value="Billable">Billable</mat-radio-button>
              <mat-radio-button value="Non-Billable">Non-Billable</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <!-----searchDiv start------>
      <div class="col m12 s12">
        <h6 class="mainHeading topDivHeading">Country travelling to </h6>
        <div class="div1">
        <form class="example-form">
          <input class="form-control form-control-sm searchInputBox2 searchImg2" type="text" placeholder="Search for a Project ID" [formControl]="control" [matAutocomplete]="autoCountry">
          <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)='getCountry($event.option.value)'>
            <mat-option *ngFor="let country of filteredcountry | async" [value]="country">
              {{country}}
            </mat-option>
          </mat-autocomplete>
        </form>
        </div>
      </div>

      <!-----frst start------>
      <div class="col m12 s12">
        <h6 class="mainHeading topDivHeading headingText">Travel Date</h6>
      </div>
      <div>
        <div>
          <div class="col m4 s12">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
              <div class="travelDetailDiv1">From
                <div style="margin-top: 4%;">
                  <img src="assets/icons/calender.png" style="float: left;margin-top: 3%;" (click)="cell.open()" />
                  <mat-form-field class="example-full-width calenderInputStyle calenderInputStyle1">
                    <input matInput class="calendarValue" [matDatepicker]="cell" placeholder="Start date" [(ngModel)]="startDate">
                    <mat-datepicker #cell></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
          <div class="col m4 s12">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
              <div class="travelDetailDiv1">To
                <div style="margin-top: 4%;">
                  <img src="assets/icons/calender.png" style="float: left;margin-top: 3%;" (click)="abc_cell.open()" />
                  <mat-form-field class="example-full-width calenderInputStyle calenderInputStyle1">
                    <input matInput class="calendarValue" [matDatepicker]="abc_cell" placeholder="End date"  [(ngModel)]="endDate">
                    <mat-datepicker #abc_cell></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-----frst end------>
      <div class="col m12 s12">
        <!-- <h6 class="mainHeading topDivHeading headingText">Travel Date</h6> -->
      </div>
      <div>
        <div>
          <div class="col m4 s12" style="margin-top: 2%">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
              <div class="col m12 styleDiv">
                <label for="recipient-name" class="col-form-label boldText">Purpose of Visa</label>
                <select name="cars" class="form-control inputStyle">
                  <option value="">Select Purpose of Visa</option>
                </select>
              </div>

            </div>
          </div>
          <div class="col m4 s12" style="margin-top: 2%">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
              <div class="col m12 styleDiv">
                <label for="recipient-name" class="col-form-label boldText">Alloted Visa</label>
                <select name="cars" class="form-control inputStyle">
                  <option value="">Select Visa Type</option>
                </select>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-----SelectDiv Start------>
       <!-- <div class="col m12 s12" style="margin-top:40px">
        <div class="col m6 s6 paddingStyleDiv1">
          <div class="col m12 selectDiv">
            <label for="recipient-name" class="col-form-label boldText">Purpose of Visa</label>
            <select name="cars" class="form-control inputStyle">
              <option value="">Select Purpose of Visa</option>
            </select>
          </div>
        </div>
        <div class="col m6 s6 paddingStyleDiv2">
          <div class="col m12 selectDiv">
            <label for="recipient-name" class="col-form-label boldText">Alloted Visa</label>
            <select name="cars" class="form-control inputStyle">
              <option value="">Select Visa Type</option>
            </select>
          </div>
        </div>
      </div>  -->

      <!-----------------Document Required Div start----------------->
      <div class="col m12 s12" style="margin-top:2%">
        <div class="col m12 s12 mainHostContactDiv">
          <h6 class="mainHeading headingProperty">Document Required <span class="redColor">*</span></h6>
          <div *ngFor="let x of cv; let i = index">
            <div class="mainDiv" style="margin-top: 2%;border-bottom: 1px solid #ccc;padding-bottom: 2%;">
              <span>
                <div class="countingDiv">{{i+1}}</div>
              </span>
              <span>
                Document {{i+1}}  
              </span>
              <span>
                <!-- <button type="button" class="btn btn-primary uploadBtnStyle">Upload</button> -->
                <input type="file" id="file" accept=".xlsx" (change)="onSelectedFile($event,i)" />
                <!-- <input formControlName="document" type="file" ng2FileSelect accept=".png" [uploader]="uploader" multiple/><br/> -->
              </span>
              <span>
              </span>
              <span>
                <img class="docImg" src="assets/icons/doc_icon.png" />abc doc <img class="closeImg"
                  src="assets/icons/close.png" />
              </span>
            </div> 
          </div>
        </div>
      </div>
      <!-----------------Document Required Div end----------------->
      <!-----------------btn start----------------->
      <div class="col m12 s12" style="margin-top:2%;margin-bottom: 2%;">
        <div class="submitBtn">
          <button type="button" class="btn btn-primary submitBtnStyle"(click)="addVisaRequest()">Submit</button>
        </div>
      </div>
      <!-----------------btn end----------------->
    </div>
  </div>
</div>