@media only screen and (min-width: 961px) {
    ::ng-deep .marleft {
      margin-left: 200px;
    }
  }
  
  .headingTitle {
    color: #fff;
    font-weight: 600;
  }
  .titleDiv {
    width: 97%;
    margin: 2% auto -4px;
  }
  .colorStyle::-webkit-meter-optimum-value {
    background: #9540a9 !important;
  }
  .meterTag2 {
    width: 97%;
    height: 0.3vw;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  
  .mainDiv {
    display: table;
    width: 100%;
    white-space: normal;
    word-break: break-word;
  }
  .mainDiv span {
    display: table-cell;
    vertical-align: top;
    /* width: 15%; */
    width: 20%;
  }
  .mainDiv span:nth-of-type(1) {
    /* width: 10%; */
    width: 12%;
  }
  .mainDiv span:nth-of-type(2) {
    padding-right: 1%;
  }
  .mainDiv span:nth-of-type(3) {
    width: 19%;
  }
  .mainDiv span:nth-of-type(4) {
    width: 17%;
  }
  .mainDiv span:nth-of-type(6) {
    width: 12%;
  }
  .mainDiv span:nth-of-type(7) {
    width: 12%;
  }
  .mainDiv:last-child {
    margin-bottom: 2%;
  }
  .statusBtn {
    color: #db1b5b;
    background-color: #fbdbe8;
    border-color: #fbdbe8;
    padding: 1% 8%;
    border-radius: 15px;
    outline: none;
  }
  .viewDetailBtn {
    color: #9540a9;
    border: 1px solid #9540a9;
    border-radius: 5px;
    background-color: #fff;
  }
  .closedStatusBtn {
    color: #19723a;
    background-color: #b2dbb6;
    border-color: #b2dbb6;
    padding: 1% 8%;
    border-radius: 15px;
    outline: none;
  }
  .createNewRequestBtn {
    background-color: #3485c0;
    color: #fff;
    border-color: #3485c0;
    margin-bottom: 2%;
    margin-right: 2%;
    float: right;
  }
  /************selectDiv***************/
  .paddingStyleDiv1 {
    padding-left: 0 !important;
  }
  .paddingStyleDiv2 {
    padding-right: 0 !important;
  }
  .selectDiv {
    background-color: #efefef;
    padding: 1% 2% 3% 2% !important;
    border-radius: 4px;
  }
  .boldText {
    font-weight: 600;
    color: #212529 !important;
  }
  
  /**********************modal*****************************/
  .modal-header {
    border-bottom: none;
  }
  .form-control {
    border: none !important;
  }
  .inputStyle {
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0;
  }
  .inputPadding {
    padding-right: 0;
  }
  .modal-footer {
    border-top: none;
    width: 100%;
  }
  .submitBtn {
    width: 49%;
    text-align: right;
  }
  .cancelBtn {
    width: 49%;
  }
  .submitBtnStyle {
    background-color: #9540a9;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #9540a9;
  }
  .cancelBtnStyle {
    background-color: #169db1;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #169db1;
  }
  
  @media (min-width: 768px) and (orientation: portrait) {
    .tabDiv{
      z-index: 0;
    }
    .mainDiv span{
      padding-right: 1%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .mainDiv span{
      padding-right: 1%;
    }
  }
  .service-error {text-align:center; padding:50px 0;}
  .service-error h1 { font-size: 3em;text-transform: uppercase;color:#007EDA;}
  