<div class="row marleft">
    <div class="col m12 s12" style="margin-top:40px">
        <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
          <div class="col m12 s12 mat-elevation-z8" style="margin-top:-20px;border-radius:4px;  background: linear-gradient(60deg,#ab47bc,#512f6f); padding:10px">
            <h5 class="white-text">Material Dashboard Heading</h5>
            <h6 class="white-text">Created using Roboto Font Family</h6>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Header 1</p></div>
              <div class="col m8 s8"><h1>Heading 1</h1></div>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Header 1</p></div>
              <div class="col m8 s8"><h1>Heading 1</h1></div>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Header 3</p></div>
              <div class="col m8 s8"><h3>Heading 3</h3></div>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Header 4</p></div>
              <div class="col m8 s8"><h4>Heading 4</h4></div>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Header 5</p></div>
              <div class="col m8 s8"><h5>Heading 5</h5></div>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Header 6</p></div>
              <div class="col m8 s8"><h6>Heading 6</h6></div>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Paragraph</p></div>
              <div class="col m8 s8"><p>Paragraph</p></div>
          </div>  
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Paragraph Success</p></div>
              <div class="col m8 s8"><p class="green-text">Success</p></div>
          </div>
          <div class="col m12 s12">
              <div class="col m2 s2"><p>Paragraph Warn</p></div>
              <div class="col m8 s8"><p class="red-text">Warn</p></div>
          </div>
      </div>
          </div>
          </div>