<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Visa Check List </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="searchDiv">
      <input class="form-control form-control-sm searchImg" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="Search by all field name ">
    </div>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle1">Visa Name</span>
          <span class="headingTitle">Visa Type</span>
          <span class="headingTitle">Country</span>
          <span class="headingTitle">Visa Info</span>
          <span class="headingTitle">Organization</span>
          <span class="headingTitle">Details</span>
        </div>
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;" *ngFor="let x of cv | filter:searchText ">
            <span>
              <div class="nameDiv">
                <img src="assets/download.jpeg" height="40" class="nameSubDiv1">
                <div class="nameSubDiv2">{{x.VisaName}}</div>
              </div>
            </span>
            <span>
                {{x.VisaType}}
            </span>
            <span>
                {{x.Country}}
            </span>
            <span>
                {{x.VisaInfo}}
            </span>
            <span>
                {{x.Organization}}
            </span>
            <span>
              <button type="button" class="btn btn-primary viewDetailBtn" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@getbootstrap">
                View Details</button>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="excelUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form [formGroup]="profileForm">
          <div class="form-group">
            <input type="text" formControlName="name" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="file" name="profile" />
          </div>
          <div class="form-group">
            <button class="btn btn-success">Upload</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="submitBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">{{buttonName}}</button>
        </div>
        <div class="cancelBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">{{buttonName}}</button>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Visa Document Checklist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Visa Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyName
                [(ngModel)]="employee" />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Visa Type:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyAdd />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Country:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Organization</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Document Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Document Date :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <div class="submitBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">Submit</button>
        </div>
        <div class="cancelBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>