<!-- <app-sidenav *ngIf="router.url == '' ||  (router.url == '**' && router.url == '/' )"></app-sidenav> -->
<!-- <app-sidenav *ngIf="router.url != '/' || (router.url == '**' &&  router.url == '/' )"></app-sidenav> -->
<div *ngIf="router.url != '/' "> 
    <app-sidenav  ></app-sidenav>
</div>
<!-- <div *ngIf="router.url == '**' || (router.url != '/' || router.url == '**' )"> 
    <app-sidenav  ></app-sidenav>
</div> -->
<router-outlet style="z-index: 0"></router-outlet>