<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">User List Master
      <!-- <div class="BtnDiv">
        <button mat-raised-button class="btn btn-primary addRoleBtn" matTooltip="Add Role"
          aria-label="displays a tooltip" matTooltipPosition="before" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@getbootstrap" (click)="AddRole('Add Main Category')">
          <img src="assets/icons/add-employee.png" />
        </button>
      </div> -->
    </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="searchDiv">
      <input class="form-control form-control-sm searchImg" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="Search by all field name ">
    </div>
 
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle1"> Name</span>
          <span class="headingTitle1"> Email</span>
          <span class="headingTitle1"> Phone</span>
          <span class="headingTitle1">State</span>
          <span class="headingTitle1">City</span>
          <span class="headingTitle1">Address</span>
          <!-- <span class="headingTitle1">Password</span> -->
        </div>
        <!-- <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px"> -->
          <!-- <div class="col m12 s12 mat-elevation-z8 mainDiv"
            style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
            <span class="headingTitle1"> Img</span>
       
          </div> -->
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;"
            *ngFor="let x of getSubList | filter:searchText  | paginate: { itemsPerPage: 5, currentPage: p } ">
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.name}}</div>
              </div>
            </span>
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.email}}</div>
              </div>
            </span>
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.phone}}</div>
              </div>
            </span>
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.state}}</div>
              </div>
            </span>
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.city}}</div>
              </div>
            </span>
      
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">{{x.address}}</div>
              </div>
            </span>
            <!-- <span>
              <div class="nameDiv">               
                <div class="nameSubDiv2">{{x.password}}</div>
              </div>
            </span> -->
          </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <!-- </div> -->
    </div>

<!------------------------Column Name Filtter End------------------------>
  
  </div>
</div>


<!------------------------addModal------------------------>

<!------------------------importModal------------------------>

<ng4-loading-spinner class="loaderIcon" [threshold]="2000" [timeout]="4000" [loadingText]="'Please wait...'"
  [zIndex]="9999">
</ng4-loading-spinner>