@media only screen and (min-width: 600px) {
  ::ng-deep .marleft1 {
    width: 85%;
    margin: auto;
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.grey.lighten-2 {
  background: url("/assets/icons/login-triangle-bg.png") no-repeat;
  background-size: 25% 62%;
  background-position: 0% -60%;
}

.loginBgImg {
  background: url("/assets/icons/login-bg.png") no-repeat;
  background-size: 65% 100%;
  background-position: right top;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 0;
}
/* i {
  border: solid black;
  border-width: 0 100px 100px 0;
  display: inline-block;
  padding: 100px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
} */

.div1 {
  width: 40%;
  float: left;
  margin: 2% 0;
}
.div2 {
  width: 60%;
  float: left;
  text-align: right;
  color: #fff;
  margin: 2% 0;
  padding-right: 3%;
}
.logoImg {
  width: 40%;
  margin-top: 6%;
  margin-bottom: 2%;
}
.signText {
  margin-bottom: 1%;
  color: #e83e8c;
}
.Text {
  margin-top: 0;
}
.customForm {
  margin-top: 6%;
  margin-bottom: 6%;
}
.form-control {
  border-radius: 0.6rem !important;
}
.inputPadding {
  padding: 0;
  margin: 0 0% 5% 0;
}
.inputPadding2 {
  margin-bottom: 2%;
}
.userImg{
  background: url('/assets/icons/userIcon.png') no-repeat;
  background-size: 5% 50%;
  background-position: 98% center;
}
.passwordImg{
  background: url("/assets/icons/passwordIcon.png") no-repeat;
  background-size: 4% 45%;
  background-position: 98% center;
}
.forgotText {
  font-size: 1em;
  float: right;
}
.cstmBtn {
  float: right;
  background-color: #e83e8c;
  color: #fff;
  border-radius: 20px;
  width: 28%;
  font-weight: 600;
}
.TCText {
  font-size: 0.9em;
  color: gray;
}
.secondDivText {
  margin-bottom: 0;
}
.secondDivText2 {
  margin-bottom: 3%;
}
/*************checkbox******************/
.mat-checkbox-inner-container {
  width: 18px !important;
  height: 18px !important;
}
.mat-checkbox-layout .mat-checkbox-label {
  font-size: 1em !important;
}
/*************alert***********/
.alert {
  padding: 0 !important;
}
.cstmAlert {
  color: red !important;
  margin-top: -3% !important;
  padding-left: 2% !important;
  background-color: transparent !important;
  border-color: transparent !important;
}


/**********************input border **************************/
.form-control {
  width: 100% !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important; 
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  border: 1px solid #ced4da !important;
}
p {
  font-family: Lato;
}

/*************************error*******************************/
.service-error {
  text-align:center;
}
.errorTitle{
  font-size: 0.9em;
  margin-bottom: 0;
  color: #007EDA;
}
.errorDesc{
  font-size: 0.9em;
  margin-top: 0.5%;
  color: #007EDA;
}