<!-- <i class="right"></i> -->

<div class="row marleft1">
  <div class="col m8 s12">
    <div class="col m12 s12 white mat-elevation-z4 loginBgImg">
      <div class="div1">
        <img class="logoImg" src="assets/logo.png">
        <h5 class="signText">Sign in</h5>
        <h6 class="Text">Please login to access your account</h6>
        <form [formGroup]="authLogin" (keypress)="($event.charCode==13)?onLogin():''">
            <!-- <div class="col-md-12 inputPadding">
            <select class="form-control" name="subject"  (change)="onChange($event.target.value)">
            <option value=""> Please Select User Login</option>
            <option value="Assigment"> Assigment</option>
            <option value="Admin"> Admin User</option>
            <option value="Employee">Employee User</option>
            </select>
          </div> -->
          <div class="col-md-12 inputPadding"
            [ngClass]="{'error-border':!authLogin.controls.email.valid && authLogin.controls.email.touched}">
            <input class="cstmInput form-control userImg" formControlName="email" matInput placeholder="Email"
              [(ngModel)]="email">
          </div>
          <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
            *ngIf="authLogin.controls.email.hasError('required') && authLogin.controls.email.touched"
            style="font-size: 13px" role="alert">
            <strong class="error"> </strong> Please Enter Email Id
          </div>
          <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
            *ngIf="authLogin.controls.email.hasError('pattern') && authLogin.controls.email.touched"
            style="font-size: 13px" role="alert">
            <strong class="error"> </strong> Please Enter Valid Email Id
          </div>
          <div class="col-md-12 inputPadding"
            [ngClass]="{'error-border':!authLogin.controls.password.valid && authLogin.controls.password.touched}">
            <input class="cstmInput form-control passwordImg" formControlName="password" matInput placeholder="Password"
              type="password" [(ngModel)]="password">
          </div>
          <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
            *ngIf="authLogin.controls.password.hasError('required') && authLogin.controls.password.touched"
            style="font-size: 13px" role="alert">
            <strong class="error"> </strong>Please Enter Your Password
          </div>
          <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
            *ngIf="authLogin.controls.password.hasError('minlength') && authLogin.controls.password.touched"
            style="font-size: 13px" role="alert">
            <strong class="error"> </strong>Please Enter minimum 6 digit password
          </div>
        </form>
        <div class="col-md-12 inputPadding">
          <mat-checkbox>Keep me signed in</mat-checkbox>
          <span class="forgotText">Forgot Password</span>
        </div>
        <div class="col m12 s12 inputPadding2">
          <button mat-raised-button color="primary" class="cstmBtn"  (click)="onLogin();">Login</button>
      
        </div>
        <div class="col m12 s12 inputPadding">
          <span class="TCText">Terms & Conditions | Support</span>
        </div>
      </div>
      <div class="col-md-12 div2">
        <h5 class="secondDivText">Welcome to</h5>
        <h5 class="secondDivText2">MOBILITY SQR</h5>

        <span>Since our inception,MobilitySQR</span><br>
        <span>has been totally focused on building</span><br>
        <span>a strategic,quality search practice.</span>
      </div>
    </div>
  </div>
</div>

<div class="service-error" *ngIf="error">
  <h1 class="errorTitle">'Oops! Request for document failed'</h1>
  <h3 class="errorDesc">'Oops! Request for document failed'</h3>
</div>


<ng4-loading-spinner class="loaderIcon" [threshold]="2000" [timeout]="4000" [loadingText]="'Please wait...'"
  [zIndex]="9999"></ng4-loading-spinner>

<!-- <button mat-raised-button
matTooltip="Info about the action"
aria-label="Button that displays a tooltip when focused or hovered over">
Action
</button> -->
<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Input & change events"
  [(ngModel)]="currentDate"     (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
<!-- 
<form class="example-form">
  <input type="text" placeholder="Search for a street" [formControl]="control" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
      {{street}}
    </mat-option>
  </mat-autocomplete>
</form> -->

<!-- <form #myForm="ngForm"> 
        <div *ngFor="let cell of column; let i = index;">
          From{{i}} <input [type]="cell.type" 
               name="{{fromData.Fromname+i}}"
               [(ngModel)]="fromData.Fromname[i]">
            to{{i}}   <input type="date" 
               name="{{'to'+i}}"
               [(ngModel)]="fromData.to[i]">
{{filteredStreets}}
               <label for="recipient-name" class="labelMargin boldText">Project ID:</label>
               <input name="{{'auto'+i}}" [(ngModel)]="fromData.auto[i]" type="text" class="form-control form-control-sm searchInputBox searchImg"
                 placeholder="Search for a Project ID" [formControl]="control" [matAutocomplete]="auto"    >
               <mat-autocomplete #auto="matAutocomplete">
                 <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                   {{street}}
                 </mat-option>
               </mat-autocomplete>
               
        </div>
     
      <a (click)="getValues(myForm)">print values</a>
    </form> 
    <button mat-raised-button color="primary" class="cstmBtn" (click)="add();">add</button>  -->
  