<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">{{val}} Travel Request List
      <!-- <div class="BtnDiv">
        <button type="button" class="btn btn-primary addRoleBtn" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@getbootstrap" (click)="AddRole('Add Role')"><img src="assets/icons/add-employee.png" /> Add
          Role</button>
      </div> -->
    </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle1">Project ID</span>
          <span class="headingTitle">Emp Name</span>
          <span class="headingTitle">Home Location</span>
          <span class="headingTitle">Travelling Country</span>
          <span class="headingTitle">Start Date</span>
          <span class="headingTitle">Details</span>
        </div>
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;" *ngFor="let x of cv">
            <span>
              <div class="nameDiv">
                <!-- <img src="assets/download.jpeg" height="40" class="nameSubDiv1"> -->
                <div class="nameSubDiv2">XYZ001</div>
              </div>
            </span>
            <span>
              Employee Name
            </span>
            <span>
              Noida
            </span>
            <span>
              USA
            </span>
            <span>
              10/10/19
            </span>

            <span>
              <button type="button" class="btn btn-primary viewDetailBtn" data-toggle="modal"
                data-target="#exampleModal">
                View Details</button>
            </span>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titleHeading}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Project ID:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyName
                 />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Employee Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyAdd />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Home Location:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Travelling Country:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">travel multi country:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Travel Multi City:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Date:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Is billable :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Home Contact Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Home Phone Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Hotel Cost:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Per Diem Cost :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Airfare Cost:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Total Cost :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Travel Status:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Travel Status Notes:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Request Notes:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Organization</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <div class="submitBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">{{buttonName}}</button>
        </div>
        <div class="cancelBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">{{buttonName}}</button>
        </div>

      </div> -->
    </div>
  </div>
</div>