/****************visa information**********************/
@media only screen and (min-width: 961px) {
  ::ng-deep .marleft {
    margin-left: 200px;
  }
}
.titleDiv {
  width: 97%;
  margin: 2% auto -4px;
}
.colorStyle::-webkit-meter-optimum-value {
  background: #9540a9 !important;
}
.meterTag2 {
  width: 97%;
  height: 0.3vw;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/******************title*********************/
.mainHeading {
  font-weight: 600;
  font-size: 1em !important;
}

/************selectDiv***************/
.paddingStyleDiv1 {
  padding-left: 0 !important;
}
.paddingStyleDiv2 {
  padding-right: 0 !important;
}
.selectDiv {
  background-color: #efefef;
  padding: 1% 2% 3% 2% !important;
  border-radius: 4px;
}
.boldText {
  font-weight: 600;
  color: #212529 !important;
}
/*****************search*************************/
.searchDiv {
  float: right;
  margin-top: 2%;
  margin-right: 2%;
}
.searchImg {
  background: url(/assets/icons/search.png) no-repeat #fff;
  background-size: 7%;
  background-position: 4% center;
  /* padding-left: 12%; */
  border-radius: 25px !important;
  padding: 6% 7% 6% 12%;
}
/***************************************************/
/**********************Document required****************************/
.backgroundDiv {
  background-color: #efefef !important;
  border-radius: 4px;
  padding-bottom: 2%;
}
.mainHeading {
  font-weight: 600;
  font-size: 1em !important;
}
.redColor {
  color: #e62825;
}
.docDiv {
  display: table;
  width: 100%;
  white-space: normal;
  word-break: break-word;
}
.docDiv span {
  display: table-cell;
  vertical-align: top;
}
.docDiv span:nth-of-type(1) {
  width: 5%;
}
.docDiv span:nth-of-type(2) {
  width: 73%;
  padding-left: 2%;
}
.docDiv span:nth-of-type(3) {
  width: 22%;
  text-align: right;
  padding-right: 2%;
}

.countingDiv {
  background-color: #9540a9;
  color: #fff;
  padding-top: 10%;
  /* padding: 7% 0 7% 3%; */
  border-radius: 46px;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
}


/************************visaInfo*********************************/
.statusBtn {
  color: #db1b5b;
  background-color: #fbdbe8;
  border-color: #fbdbe8;
  padding: 1% 8%;
  border-radius: 15px;
  outline: none;
}
.viewDetailBtn {
  color: #9540a9;
  border: 1px solid #9540a9;
  border-radius: 5px;
  background-color: #fff;
}
.closedStatusBtn {
  color: #19723a;
  background-color: #b2dbb6;
  border-color: #b2dbb6;
  padding: 1% 8%;
  border-radius: 15px;
  outline: none;
}
