<!----visa Information------->
<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Visa Information</h6>
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;margin-top:40px;padding-bottom: 4%;">
      <!-----SelectDiv Start------>
      <div class="col m12 s12" style="margin-top:40px">
        <div class="col m6 s6 paddingStyleDiv1">
          <div class="col m12 selectDiv">
              <label for="recipient-name" class="col-form-label boldText">Country</label>
              <select class="form-control" name="country"  (change)="onChange($event.target.value)"> 
                  <option value="select country list">select country list</option>                
              <option *ngFor="let country of getCountryList" value="{{country.country_code}}">{{country.country_name}}</option>            
            </select>
          </div>
        </div>
        <div class="col m6 s6 paddingStyleDiv2">
          <div class="col m12 selectDiv">
              <label for="recipient-name" class="col-form-label boldText">Visa Type</label>
              <select class="form-control" name="subject"  (change)="onSelectCountry($event.target.value)">
                <option *ngFor="let visaList of getVisaList" value="{{visaList.visa_id}}">{{visaList.visa_type}}</option>            
              </select>
          </div>
        </div>
      </div>
      <!-----SelectDiv end------>
      <div class="searchDiv">
        <input class="form-control form-control-sm searchImg" type="text" name="search" [(ngModel)]="searchText"
          autocomplete="off" placeholder="Search by all Field Name ">
      </div>
      <!-----------------Document Required Div start----------------->
      <div class="col m12 s12" style="margin-top:2%">
        <div class="col m12 s12 backgroundDiv"  *ngIf="ShowVisaList">
          <h6 class="mainHeading headingProperty">Document Required <span class="redColor">*</span></h6>
          <div>
            <div class="docDiv" style="margin-top: 2%;border-bottom: 1px solid #ccc;padding-bottom: 2%;"
              *ngFor="let x of getDocVisaList | filter:searchText ; let i = index">
              <span>
                <div class="countingDiv"> {{i+1}}</div>
              </span>
              <span>
                {{x.document_name}}
              </span>
              <span>
              </span>
            </div>

          </div>
        </div>
      </div>

      <!-- <div class="col m12 s12" style="margin-top:40px">
        <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
          <div class="col m12 s12 mat-elevation-z8 mainDiv"
            style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
            <span class="headingTitle1">S.No</span>
            <span class="headingTitle">Document Name Required</span>
          </div>
          <div class="col m12 s12">
            <div class="mainDiv mainDiv1" style="margin-top: 2%;"
              *ngFor="let x of cv | filter:searchText ; let i = index">
              <span>
                {{i+1}}
              </span>
              <span>
                {{x.Document}}
              </span>

            </div>

          </div>

        </div>
      </div> -->
      <!-----------------Document Required Div end----------------->

    </div>
  </div>
</div>




<!-----------------modal----------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info Visa Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Visa Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyName
                [(ngModel)]="employee" />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Visa Info:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #emyAdd />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Document_name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Contact Number:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Passport Number:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Passport Expiry Date :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Reporting manager:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Job Title :</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Organization Name:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Organization Address:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Visa Type:</label>
              <select name="cars" class="form-control inputStyle">
                <option value="volvo"> Visa Type 1</option>
                <option value="saab">Visa Type 2</option>
                <option value="fiat"> Visa Type 3</option>
                <option value="audi">Visa Type 4</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Country:</label>
              <select name="cars" class="form-control inputStyle">
                <option value="volvo">India </option>
                <option value="saab">Usa</option>
                <option value="fiat">Singapore</option>
                <option value="audi">China</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Country:</label>
              <select name="cars" class="form-control inputStyle">
                <option value="volvo"> India</option>
                <option value="saab"> Singapore</option>
                <option value="fiat"> USA</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Employee Image:</label>
              <input type="file" id="number" class="form-control inputStyle inputPadding" name="number" #Department />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="submitBtn">
          <button type="button" class="btn btn-primary submitBtnStyle" >{{buttonName}}</button>
        </div>
        <!-- <div class="cancelBtn">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">{{buttonName}}</button>
        </div> -->

      </div>
    </div>
  </div>
</div>