
@media only screen and (min-width: 961px) {
    ::ng-deep .marleft {
      margin-left: 200px;
    }
  }
  .titleDiv {
    width: 97%;
    margin: 2% auto -4px;
  }
  .meterTag::-webkit-meter-optimum-value {
    background: #9540a9;
    border-radius: 18px;
  }
  .meterTag {
    width: 100%;
    height: 0.3vw;
  }
  .colorStyle::-webkit-meter-optimum-value {
    background: #9540a9 !important;
  }
  .meterTag2 {
    width: 97%;
    height: 0.3vw;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  /************btn************/
  .BtnDiv {
    text-align: right;
    margin-top: -1%;
  }
  .downloadBtn{
    margin-top: -1.5%;
    background-color: #9540a9;
    border: 1px solid #9540a9;
    /* border-radius: 20px; */
    margin-right: 0.5%;
  }
  .importGroupBtn {
    margin-top: -1.5%;
    background-color: #3a81c3;
    border: 1px solid #3a81c3;
    /* border-radius: 20px; */
    margin-right: 0.5%;
  }
  .addRoleBtn {
    margin-top: -1.5%;
    background-color: #9540a9;
    border: 1px solid #9540a9;
    /* border-radius: 20px; */
  }
  
  /*****************heading and content**********************/
  .headingTitle1 {
    color: #fff;
    font-weight: 600;
    padding-left: 1%;
  }
  .headingTitle {
    color: #fff;
    font-weight: 600;
  }
  .mainDiv {
    display: table;
    width: 100%;
  }
  .mainDiv span {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
  }
  .mainDiv span:nth-of-type(1) {
    width: 20%;
  }
  .mainDiv span:nth-of-type(2) {
    width: 20%;
  }
  .mainDiv1 span:nth-of-type(2) {
    width: 20%;
    color: #9540a9 !important;
  }
  .mainDiv1:last-child {
    margin-bottom: 2%;
  }
  .nameDiv {
    width: 100%;
    float: left;
  }
  .nameSubDiv1 {
    margin: auto;
    float: left;
  }
  .nameSubDiv2 {
    width: 45%;
    float: left;
    margin-left: 5%;
  }
  .viewDetailBtn {
    color: #9540a9;
    border: 1px solid #9540a9;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .searchImg{
    background: url(/assets/icons/search.png) no-repeat #fff;
    background-size: 7%;
    background-position: 4% center;
    border-radius: 25px !important;
    padding: 6% 7% 6% 12%;
  }
  
  /**********************modal*****************************/
  .modal-header {
    border-bottom: none;
  }
  .form-control {
    border: none !important;
  }
  .inputStyle {
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0;
  }
  .inputPadding {
    padding-right: 0;
  }
  .modal-footer {
    border-top: none;
    width: 100%;
  }
  .submitBtn {
    width: 49%;
    text-align: right;
  }
  .cancelBtn {
    width: 49%;
  }
  .submitBtnStyle {
    background-color: #9540a9;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #9540a9;
  }
  .cancelBtnStyle {
    background-color: #169db1;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #169db1;
  }
  /***********************search**********************************/
  .div1{
    width: 50%;
    border: 1px solid #ced4da;
    border-radius: 4px;
  
  }
  .searchInputBox2{
    width: 100%;
    padding: 3%;
  }
  .searchImg2{
    background: url(/assets/icons/search.png) no-repeat #fff;
    background-size: 4%;
    background-position: 96% center;
    border-radius: 4px !important;
  }
  /**********************Document required****************************/
  .backgroundDiv {
    background-color: #efefef !important;
    border-radius: 4px;
    padding-bottom: 2%;
  }
  .mainHeading {
    font-weight: 600;
    font-size: 1em !important;
    padding-top: 2%;
  }
  .redColor {
    color: #e62825;
  }
  .docDiv {
    display: table;
    width: 100%;
    white-space: normal;
    word-break: break-word;
  }
  .docDiv span {
    display: table-cell;
    vertical-align: top;
  }
  .docDiv span:nth-of-type(1) {
    width: 5%;
  }
  .docDiv span:nth-of-type(2) {
    width: 73%;
    padding-left: 2%;
  }
  .docDiv span:nth-of-type(3) {
    width: 22%;
    text-align: right;
    padding-right: 2%;
  }
  
  .countingDiv {
    background-color: #9540a9;
    color: #fff;
    padding-top: 10%;
    /* padding: 7% 0 7% 3%; */
    border-radius: 46px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
  }
  
  .searchDiv {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
  }
  
  /****************************checkbox********************************/
  input[type="checkbox"]:checked:before {
    font-weight: bold;
    color: #9540a9;
    content: '\2713';
    font-size: 1em;
    /* -webkit-margin-start: 0;
    margin-left: 2px;
    font-size: 0.9em; */
    }
    input[type="checkbox"] {
      height: 1.3em;
      width: 1.2em;
      vertical-align: middle;
      margin: 0 0.4em 0.4em 0;
      border: 2px solid #9540a9;
      background: -webkit-linear-gradient(#FCFCFC, #DADADA);
      -webkit-appearance: none;
       box-shadow:inset 1px 1px 0 #fff, 0 1px 1px rgba(0,0,0,0.1);
  }
  /***********************importStatusDiv***************************/
  .importStatusDiv {
    margin-top: 5%;
    display: table;
    width: 100%;
    padding-bottom: 3%;
  }
  .importStatusDivBorder {
    border-bottom: 1px solid #ced4da;
  }
  .importStatusDiv span {
    display: table-cell;
    vertical-align: middle;
  }
  .importStatusDiv span:nth-of-type(1) {
    width: 8%;
    background: url(/assets/icons/fail_icon.png) no-repeat;
    background-size: auto;
    background-position: center;
  }
  .importStatusDiv span:nth-of-type(2) {
    width: 77%;
  }
  .importStatusDiv span:nth-of-type(3) {
    width: 15%;
    background: url(/assets/icons/download_icon.png) no-repeat;
    background-size: auto;
    background-position: center;
  }
  .importStatusDiv2 {
    margin-top: 3%;
    display: table;
    width: 100%;
    padding-bottom: 3%;
  }
  .importStatusDiv2 span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .importStatusDiv2 span:nth-of-type(1) {
    width: 8%;
    background: url(/assets/icons/pass_cion.png) no-repeat;
    background-size: auto;
    background-position: center;
  }
  .importStatusDiv2 span:nth-of-type(2) {
    width: 77%;
  }
  .importStatusDiv2 span:nth-of-type(3) {
    width: 15%;
  }
  /***************************fileChoose************************/
  .uploadfileForm{
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .uploadFileDiv{
    border-bottom: 1px solid #ccc;
    width: 50%;
  }
  .browseBtn{
    color: #fff;
    background-color: #3a81c3;
  }
  .fileName{
    margin-left: 2%;
  }
  
  /*************alert***********/
  .alert {
    padding: 0 !important;
  }
  .cstmAlert {
    color: red !important;
    margin-top: 2% !important;
    margin-bottom: 0 !important;
    padding-left: 2% !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }