<div class="col m12 s12">
</div>
<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Progress Summary </h6>
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m6 s12" style="min-height: 100px; margin-top:40px;">
        <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
          <div class="col m12 s12" style="padding-top: 3%!important;">
            <chart [type]="type3" [data]="data3"></chart>
          </div>
          <div class="col m3 s3 borderRight"(click)="pushToPageVisa('Open')">
            <h6 class="cstmH6 colorDiv">{{LeadStatusOpen}}</h6>
            <h5 class="cstmH5" >
              <div class="bull colorDiv">.</div>Open 
            </h5>
          </div>
          <div class="col m3 s3 borderRight" (click)="pushToPageVisa('Closed')">
            <h6 class="cstmH6 colorDiv1">{{LeadStatusClosed}}</h6>
            <h5 class="cstmH5" >
              <div class="bull colorDiv1">.</div>Closed
            </h5>
          </div>
          <div class="col m3 s3 textCenter" (click)="pushToPageVisa('Running')">
            <h6 class="cstmH6 colorDiv2">{{LeadStatusRunning}}</h6>
            <h5 class="cstmH5">
              <div class="bull colorDiv2">.</div>Running
            </h5>
          </div>
          <div class="col m3 s3 textCenter" (click)="pushToPageVisa('Reopen')">
            <h6 class="cstmH6 colorDiv3">{{LeadStatusReOpen}}</h6>
            <h5 class="cstmH5">
              <div class="bull colorDiv3">.</div>Re Open
            </h5>
          </div>
          <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
            <p class="center" style="margin: 2%;font-size: 1.2em;">Lead Request {{LeadTotal}}</p>
          </div>
        </div>
      </div>
    <div class="col m6 s12" style="min-height: 100px; margin-top:40px;">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
        <div class="col m12 s12" style="padding-top: 3%!important;">
          <chart [type]="type4" [data]="data4"></chart>
        </div>
        <div class="col m3 s3 borderRight"(click)="pushToPageCategor()">
          <h6 class="cstmH6 colorDiv">{{MainCatCount}}</h6>
          <h5 class="cstmH5" >
            <div class="bull colorDiv">.</div>Category
          </h5>
        </div>
        <div class="col m3 s3 borderRight"(click)="pushToPageSubCategor()">
          <h6 class="cstmH6 colorDiv1">{{SubCatCount}}</h6>
          <h5 class="cstmH5" >
            <div class="bull colorDiv1">.</div>Sub Category
          </h5>
        </div>
        <div class="col m3 s3 textCenter" (click)="pushToPageVendor()">
          <h6 class="cstmH6 colorDiv2">{{VendorRegistration}}</h6>
          <h5 class="cstmH5" >
            <div class="bull colorDiv2">.</div>Vendor
          </h5>
        </div>
        <div class="col m3 s3 textCenter" (click)="pushToPageUser()">
          <h6 class="cstmH6 colorDiv3">{{UserRegistration}}</h6>
          <h5 class="cstmH5" >
            <div class="bull colorDiv3">.</div>User
          </h5>
        </div>
        <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
          <p class="center" style="margin: 2%;font-size: 1.2em;">Details User Vendor Main and Subcategory</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv"> Request Progress Summary </h6>
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m3 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1" style="margin-top: 27px;">
          <span></span>
          <span>Lead Status Open</span>
          <span>{{LeadStatusOpen}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('New Request')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m3 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1 visaRequestDiv2" style="margin-top: 27px;">
          <span></span>
          <span>Lead Status Running</span>
          <span>{{LeadStatusRunning}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('In Progress')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m3 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1  visaRequestDiv3" style="margin-top: 27px;">
          <span></span>
          <span>Closed</span>
          <span>{{LeadStatusClosed}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('Closed')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m3 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1  visaRequestDiv3" style="margin-top: 27px;">
          <span></span>
          <span>Status Reopen</span>
          <span>{{LeadStatusReOpen}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('Closed')">View Details</button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row marleft">
  <div class="col m10 s10">
   
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m3 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1" style="margin-top: 27px;">
          <span></span>
          <span>Total Lead</span>
          <span>{{LeadTotal}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('New Request')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m3 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1 visaRequestDiv2" style="margin-top: 27px;">
          <span></span>
          <span>Main Category</span>
          <span>{{MainCatCount}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('In Progress')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m3 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1  visaRequestDiv3" style="margin-top: 27px;">
          <span></span>
          <span>User Count</span>
          <span>{{UserRegistration}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('Closed')">View Details</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col m3 s12 " style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height: 145px">
        <div class="col m12 s12 visaRequestDiv1  visaRequestDiv3" style="margin-top: 27px;">
          <span></span>
          <span>Vendor Count</span>
          <span>{{VendorRegistration}}</span>
        </div>
        <div class="col m12 s12">
          <p class="right">
            <button mat-raised-button class="btnStyle" (click)="pushToPage('Closed')">View Details</button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div> -->


<ng4-loading-spinner class="loaderIcon" [threshold]="000" [timeout]="10000" [loadingText]="'Please wait...'"
  [zIndex]="9999"></ng4-loading-spinner>