@media only screen and (min-width: 961px) {
  ::ng-deep .marleft {
    margin-left: 200px;
  }
}

.table-head-fix {
  font-size: 16px;
  color: #fb8c00;
}
.visaRequestCard {
  font-size: 22px;
  margin-left: 87px;
  margin-top: -33px;
}
.tp-button-row button,
.tp-button-row a {
  margin-right: 8px;
}

.titleDiv {
  width: 97%;
  margin: 2% auto -4px;
}
.immigrationValue {
  margin-bottom: -7px;
  margin-top: 0;
  color: #28a745;
}
.ImmigrationSpan {
  font-size: 0.5em;
  color: gray;
}
.meterTag::-webkit-meter-optimum-value {
  background: #28a745;
  border-radius: 18px;
}
.meterTag {
  width: 100%;
  height: 0.3vw;
}
.colorStyle::-webkit-meter-optimum-value {
  background: #9540a9 !important;
}
.meterTag2 {
  width: 97%;
  height: 0.3vw;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.btnStyle {
  color: #9540a9;
  border: 1px solid #9540a9;
  margin-top: 10%;
  border-radius: 5px;
}
.borderRight {
  border-right: 1px solid #ccc;
  text-align: center;
  margin-bottom: 2%;
}

.textCenter {
  text-align: center;
}
.cstmH6 {
  text-align: center;
  margin-bottom: -18px;
  font-weight: 600;
}
.cstmH5 {
  font-size: 1vw;
  display: inline;
}
.bull {
  font-size: 5.9em !important;
  font-weight: 500 !important;
  display: inline-block;
}

.colorDiv {
  color: #6f42c1;
}
.colorDiv1 {
  color: #28a745;
}
.colorDiv2 {
  color: #e83e8c;
}
.colorDiv3 {
  color: #ffc107;
}

.visaRequestDiv1 {
  display: table;
}
.visaRequestDiv1 span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.visaRequestDiv1 span:nth-of-type(1) {
  width: 20%;
  background: url("/assets/icons/new-request.png") no-repeat;
  background-size: auto;
  background-position: center;
}
.visaRequestDiv1 span:nth-of-type(2) {
  font-size: 1.2rem;
  width: 70%;
  text-align: left !important;
  padding-left: 6%;
}
.visaRequestDiv1 span:nth-of-type(3) {
  font-size: 2rem;
  width: 10%;
  font-weight: bold;
}
.visaRequestDiv2 span:nth-of-type(1) {
  background: url("/assets/icons/in-progress.png") no-repeat !important;
  background-size: auto;
  background-position: center;
}
.visaRequestDiv3 span:nth-of-type(1) {
  background: url("/assets/icons/closed.png") no-repeat !important;
  background-size: auto;
  background-position: center;
}

@media only screen and (max-width: 1024px) {
  .visaRequestDiv1 span:nth-of-type(1) {
    background-size: 100%;
  }
  .visaRequestDiv2 span:nth-of-type(1) {
    background-size: 100% !important;
  }
  .visaRequestDiv3 span:nth-of-type(1) {
    background-size: 100% !important;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .cstmH6 {
    margin-bottom: -15px;
  }
  .cstmH5 {
    font-size: 1.5vw;
  }
}
