<mat-sidenav-container class="sidenav-container">

  <!------------------------------sideMenu------------------------------------->
  <mat-sidenav #drawer [opened]="!small" class="sidenav mat-elevation-z8" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar class="white"><img src="assets/logo.png" width="80%" style="margin:auto"></mat-toolbar>
   
    <mat-nav-list>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard" mat-list-item href="">
        <span><img class="sidemenuIcon" src="assets/icons/dashboard.png"></span>
        <span>Dashboard</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/Rolemaster"
        mat-list-item href="">
        <span><img class="sidemenuIcon" src="assets/icons/role-master.png"></span>
        <span>Main Category</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLink="/Dashboard/Employee" mat-list-item href="">
        <span><img class="sidemenuIcon" src="assets/icons/employee-master.png"></span>
        <span>Sub Category</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLink="/Dashboard/User-list" mat-list-item href="">
        <span><img class="sidemenuIcon" src="assets/icons/employee-master.png"></span>
        <span>User List</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/GroupMaster"
        mat-list-item href="">
        <span><img class="sidemenuIcon" src="assets/icons/group-master.png"></span>
        <span> New Vendor</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/Vendorlist"
      mat-list-item href="">
      <span><img class="sidemenuIcon" src="assets/icons/group-master.png"></span>
      <span>Vendor List</span>
    </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/Vendor" mat-list-item
        href="">
        <span><img class="sidemenuIcon" src="assets/icons/employee-master.png"></span>
        <span>Price Master</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/New-Query" mat-list-item
        href="#">
        <span><img class="sidemenuIcon" src="assets/icons/project-master.png"></span>
        <span>New Query</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/Query-Assign-To-Vendor"
        mat-list-item href="#">
        <span><img class="sidemenuIcon" src="assets/icons/visa-master.png"></span> 
        <span>Query To Vender</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/Vendor-Billing-To-User" mat-list-item href="#">
        <span><img class="sidemenuIcon" src="assets/icons/currency-master.png"></span>
        <span>Query Billing</span>
      </a>
      <!--  <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/Reports" mat-list-item href="#">
        <span><img class="sidemenuIcon" src="assets/icons/reports.png"></span>
        <span>Reports</span>
      </a>
      <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard/Import" mat-list-item
      href="">
      <span><img class="sidemenuIcon" src="assets/icons/new-request.png"></span>
      <span>Import Files</span>
    </a> -->
    </mat-nav-list>
     <div class="poweredByDiv">Powered By Ginny Door</div> 
  </mat-sidenav>


  <!------------------------------dashboard header------------------------------------->
  <mat-sidenav-content>
    <mat-toolbar class="toolbarColor" style="min-height:62px">
      <button type="button" aria-label="Toggle sidenav menuColor" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{UserTypeLogin}} Dashboard</span>
      <span class="example-fill-remaining-space"></span>
      <span class="example-fill-remaining-space"></span>
      <span class="example-fill-remaining-space"></span>
      <span style="margin-right: 1%;text-align: right;">
        <h6 style="font-size: 0.7em;line-height: normal;">Sandeep</h6>
        <h6 style="font-size: 0.6em;line-height: normal;color: #9540a9;">Delhi</h6>
      </span>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" style="border: 1px solid #000;">
        <i style="font-size:24px;padding-bottom: 10%;" class="fas fa-user"></i>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <mat-icon>person</mat-icon>
            <span>Perfil</span> -->
        <button mat-menu-item (click)="profile()">Profile</button>
        <button mat-menu-item (click)="Signout()">Sign Out</button>
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>



<!--
  old html code
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [opened]="!small" class="sidenav mat-elevation-z8" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <mat-toolbar class="white"><img src="assets/logo.png" width="80%" style="margin:auto"></mat-toolbar>
      <mat-nav-list  *ngIf="UserTypeLogin == 'Assigment'">
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/Dashboard/Assigment"  mat-list-item href=""><img src="assets/icons/dashboard.png"
          width="20%" style="margin:auto">&nbsp; Dashboard</a>
        <a class="sidenavelement" routerLinkActive="active-link"  routerLink="/Dashboard/Rolemaster" mat-list-item href=""><img src="assets/icons/role-master.png"
            width="20%" style="margin:auto">&nbsp; User Information</a>
            <a class="sidenavelement" routerLink="/Dashboard/EmployeeMaster"  mat-list-item href=""><img src="assets/icons/employee-master.png"
              width="20%" style="margin:auto"> &nbsp; My Request</a>   
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/Dashboard/GroupMaster" mat-list-item href=""><img src="assets/icons/group-master.png"
            width="20%" style="margin:auto"> &nbsp; Report</a>
        <a class="sidenavelement" routerLinkActive="active-link" mat-list-item href="#"><img src="assets/icons/vendor-master.png"
            width="20%" style="margin:auto"> &nbsp;Profile</a>    
      </mat-nav-list>
      
      <mat-nav-list *ngIf="UserTypeLogin == 'Admin'" >   
        <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/Dashboard"  mat-list-item href="">
          <img src="assets/icons/dashboard.png"
          width="20%" style="margin:auto">&nbsp; Dashboard
        </a>
        <a class="sidenavelement" routerLinkActive="active-link"  routerLink="/Dashboard/Rolemaster" mat-list-item href=""><img src="assets/icons/role-master.png"
            width="20%" style="margin:auto">&nbsp; Role Master</a>
            <a class="sidenavelement" routerLink="/Dashboard/Employee"  mat-list-item href=""><img src="assets/icons/employee-master.png"
              width="20%" style="margin:auto"> &nbsp; Employee Master</a>   
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/Dashboard/GroupMaster" mat-list-item href=""><img src="assets/icons/group-master.png"
            width="20%" style="margin:auto"> &nbsp; Group Master</a>
        <a class="sidenavelement" routerLinkActive="active-link" mat-list-item href="#"><img src="assets/icons/vendor-master.png"
            width="20%" style="margin:auto"> &nbsp;Vender Master</a>
        <a class="sidenavelement" routerLinkActive="active-link" mat-list-item href="#"><img src="assets/icons/project-master.png"
            width="20%" style="margin:auto"> &nbsp; Project Master</a>
        <a class="sidenavelement" routerLinkActive="active-link" mat-list-item href="#"><img src="assets/icons/visa-master.png"
            width="20%" style="margin:auto"> &nbsp;Visa&Check List</a>
        <a class="sidenavelement" routerLinkActive="active-link" mat-list-item href="#"><img src="assets/icons/currency-master.png"
            width="20%" style="margin:auto"> &nbsp; Curreny Master</a>
        <a class="sidenavelement" routerLinkActive="active-link" mat-list-item href="#">
          <mat-icon>notification_important</mat-icon> &nbsp;Reports
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="grey lighten-2" style="min-height:90px">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{UserTypeLogin}} Dashboard</span>
        <span class="example-fill-remaining-space"></span>
  
        <span class="example-fill-remaining-space"></span>
        <p class="hide-on-med-and-down" style="margin-top:-10px">
          <mat-form-field appearance="legacy" style="max-height:50px; padding-bottom: 0px; margin-bottom: 0px !important; margin-top: -10px">
            <mat-label>Search</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </p>
        <span class="example-fill-remaining-space"></span>
        <button mat-icon-button color="primary">
          <mat-icon>dashboard</mat-icon>
        </button>
        <button mat-icon-button color="primary" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
          <i style="font-size:24px " class="fas fa-bell"></i>
        </button> &nbsp;
  
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
          <i style="font-size:24px " class="fas fa-user"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Change Password</button>
          <button mat-menu-item>Sign Out</button>
        </mat-menu>
      </mat-toolbar>   
    </mat-sidenav-content>
  </mat-sidenav-container> -->