<!-- <div class="col m12">
      <label for="recipient-name" class="labelMargin boldText">Travel will be:</label>
      <mat-radio-group aria-label="Select an option" class="cstmRadio">
        <mat-radio-button value="1">Billable</mat-radio-button>
        <mat-radio-button value="2">Non-Billable</mat-radio-button>
      </mat-radio-group>
    </div> -->
<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Travel Request</h6>
    <meter value="1" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;margin-top:40px">
      <!-----topDiv start------>
      <div class="col m12 s12"
        style="margin-top:40px;margin-bottom: 2%; padding-bottom: 3%; border-bottom: 2px solid #ccc;">
        <!-- <div class="projectIdDiv">
          <label for="recipient-name" class="labelMargin boldText">Project ID:</label>
          <input class="form-control form-control-sm searchInputBox searchImg" type="text"
            placeholder="Search with Hint..." aria-label="Search" mdbInput>
        </div> -->
        <form class="example-form projectIdDiv">
          <label for="recipient-name" class="labelMargin boldText">Project ID:</label>
          <input type="text" class="form-control form-control-sm searchInputBox searchImg"
            placeholder="Search for a Project ID" [formControl]="control" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
              {{street}}
            </mat-option>
          </mat-autocomplete>
        </form>

        <div class="col m6 s6 paddingStyleDiv1">
          <div class="col m12 selectDiv">
            <h6 class="mainHeading headingSpace">Travel will be</h6>
            <mat-radio-group aria-label="Select an option" class="cstmRadio">
              <mat-radio-button value="1">Billable</mat-radio-button>
              <mat-radio-button value="2">Non-Billable</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col m6 s6 paddingStyleDiv2">
          <div class="col m12 selectDiv selectBackground">
            <h6 class="mainHeading headingSpace">Travel Country will be</h6>
            <mat-radio-group aria-label="Select an option" class="cstmRadio">
              <mat-radio-button value="1">Single</mat-radio-button>
              <mat-radio-button value="2">Multiple</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <!-----topDiv start------>
      <h6 class="mainHeading">Country travelling to</h6>
      <div class="div1">
        <!-- <input class="form-control form-control-sm searchInputBox2 searchImg2" type="text"
          placeholder="Search with Hint..." aria-label="Search" mdbInput> -->
        <form class="example-form">
          <input class="form-control form-control-sm searchInputBox2 searchImg2" type="text"
            placeholder="Search with Hint..." [formControl]="control"  [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
              {{street}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
      <!-----btn start------>
      <div class="BtnDiv1">
        <button type="button" class="btn btn-primary addCountryBtn" (click)="add()"><img
            src="assets/icons/add-employee.png" class="addImg" />Add Another Country</button>
        <button type="button" class="btn btn-primary addCityBtn" (click)="addCity()"><img
            src="assets/icons/add-employee.png" class="addImg" />Add Another City</button>
      </div>
      <!-----btn end------>
      <!-----frst start------>
      <div class="col m12 s12" *ngFor="let cell of column; let i = index;" style="margin-top: 2%;">
        <div style="text-align: right;" *ngIf="cell != 0">
          <button type="button" class="btn removeBtn" (click)="remove(cell)">Remove</button>
        </div>
        <div *ngFor="let cell1 of City; let i = index;" style="margin-top: 1%;text-align: left;">
          <div style="margin-top: 1%;text-align: right;" *ngIf="cell1 != 0">
            <img src="assets/icons/close.png" (click)="removeCity(cell1)" />
          </div>
          <div class="col m4 s12" style="margin-top: 1%;">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;padding-bottom: 4%;">
              <div class="travelDetailDiv1">From
                <img src="assets/icons/flight.png" style="float: right;" />
              </div>
              <form class="example-form formMargin">
                <input class="form-control form-control-sm searchInputBox2 searchImg2" type="text"
                  placeholder="Search for a From" [formControl]="control" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                    {{street}}
                  </mat-option>
                </mat-autocomplete>
              </form>
            </div>
          </div>
          <div class="col m4 s12" style="margin-top: 1%;">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;padding-bottom: 4%;">
              <div class="travelDetailDiv1">To
                <img src="assets/icons/flight.png" style="float: right;" />
              </div>
              <form class="example-form formMargin">
                <input class="form-control form-control-sm searchInputBox2 searchImg2" type="text"
                  placeholder="Search for a To" [formControl]="control" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                    {{street}}
                  </mat-option>
                </mat-autocomplete>
              </form>
            </div>
          </div>
          <div class="col m2 s12" style="margin-top: 1%;">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
              <div class="travelDetailDiv1 marginStyle">Departure
                <div style="margin-top: 6%;">
                  <img src="assets/icons/calender.png" style="float: left;margin-top: 7%;" (click)="cell.open()" />
                  <mat-form-field class="example-full-width calenderInputStyle">
                    <input matInput class="calendarValue" [matDatepicker]="cell" placeholder="Start date">
                    <mat-datepicker #cell></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col m2 s12" style="margin-top: 1%;">
            <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
              <div class="travelDetailDiv1 marginStyle">Return
                <div style="margin-top: 6%;">
                  <img src="assets/icons/calender.png" style="float: left;margin-top: 7%;" (click)="abc_cell.open()" />
                  <mat-form-field class="example-full-width calenderInputStyle">
                    <input matInput class="calendarValue" [matDatepicker]="abc_cell" placeholder="End date">
                    <mat-datepicker #abc_cell></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col m12 s12 cstmTravelRequestDiv">
            <div>
              <mat-checkbox class="cstmCheckbox">Do you need accomodation? </mat-checkbox>
            </div>
            <div class="calendarTimeStyle">
              <!-- <img src="assets/icons/calender.png" style="float: left;margin-top: 7%;" (click)="startDate.open()" />
              <mat-form-field class="example-full-width calenderInputStyle calenderLastDivInput">
                <input matInput class="calendarValue" [matDatepicker]="startDate">
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field> -->
              <!-- <img src="assets/icons/calender.png" class="imgStyle" />
              <span class="cstmSpan">Start date:</span>
              <span class="cstmSpan2">25 sep'19</span>
              <span>10:00AM</span> -->
              <label class="labelStyle">
               Start Date:
                <input class="dateTimeInputval" [owlDateTime]="start_cell">
                <span class="trigger calendarIconStyle" [owlDateTimeTrigger]="start_cell">
                    <i class="fas fa-calendar-alt"></i>
                </span>
                <owl-date-time #start_cell></owl-date-time>
              </label>
            </div>
            <div class="calendarTimeStyle">
                <label class="labelStyle">
                    End Date:
                     <input  class="dateTimeInputval" [owlDateTime]="end_cell">
                     <span class="trigger calendarIconStyle" [owlDateTimeTrigger]="end_cell">
                         <i class="fas fa-calendar-alt"></i> 
                         <!-- <img src="assets/icons/calender.png" style="float: left;margin-top: 7%;"/> -->
                     </span>
                     <owl-date-time #end_cell></owl-date-time>
                   </label>
              <!-- <img src="assets/icons/calender.png" style="float: left;margin-top: 7%;" (click)="endDate.open()" />
              <mat-form-field class="example-full-width calenderInputStyle calenderLastDivInput">
                <input matInput class="calendarValue" [matDatepicker]="endDate">
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field> -->
              <!-- <img src="assets/icons/calender.png" class="imgStyle" />
              <span class="cstmSpan">End date:</span>
              <span class="cstmSpan2">26 sep'19</span>
              <span>2:00PM</span> -->
            </div>
            <div>
            </div>
          </div>
        </div>
        <!-----frst end------>
        <!-----SelectDiv Start------>
        <div class="col m12 s12" style="margin-top:40px">
          <div class="col m6 s6 paddingStyleDiv1">
            <div class="col m12 selectDiv">
              <label for="recipient-name" class="col-form-label boldText">Purpose of Travel</label>
              <select name="cars" class="form-control inputStyle">
                <option value="">Select Purpose of travel</option>
              </select>
            </div>
          </div>
          <div class="col m6 s6 paddingStyleDiv2">
            <div class="col m12 selectDiv">
              <label for="recipient-name" class="col-form-label boldText">Assignment Type</label>
              <select name="cars" class="form-control inputStyle">
                <option value="">Select Assignment Type</option>
              </select>
            </div>
          </div>
        </div>
        <!-----SelectDiv end------>
        <!-----visaDetailDiv start------>
        <div class="col m12 s12" style="margin-top:2%">
          <div class="col m12 s12 mainVisaDetailsDiv">
            <h6 class="mainHeading">Visa Details</h6>
            <div class="subVisaDetailsDiv">
              <div>Business Visa(BV)</div>
              <div>
                <span class="boldText spanMarginStyle">Visa no.:</span>
                <span>B4768544</span>
              </div>
              <div>
                <span class="boldText spanMarginStyle">Visa expiry date:</span>
                <span>05Oct2019</span>
              </div>
            </div>
          </div>
        </div>
        <!-----visaDetailDiv end------>
        <!-----HostContactDiv input start------>
        <div class="col m12 s12" style="margin-top:2%;padding-bottom: 3%;border-bottom: 2px solid #ccc;">
          <div class="col m12 s12 mainHostContactDiv">
            <div class="headingBtnDiv">
              <h6 class="mainHeading headingProperty">Host Contact</h6>
              <div class="BtnDiv ">
                <button type="button" class="btn btn-primary addHostContactBtn" (click)="addHost()"><img
                    src="assets/icons/add-employee.png" class="addImg" />Add Host Contact</button>
              </div>
            </div>
            <div class="col m12 s12 subHostContactDiv" *ngFor="let addHost of hostContact; let i = index;">
                <div style="text-align: right;" *ngIf="addHost != 0">
                    <img src="assets/icons/close.png" (click)="removeHost(addHost)" />
                  </div>
              <div class="col m6 s6 paddingHostContactDiv1">
                <div class="col m12 inputHostContactDiv1">
                  <input type="text" id="number" class="form-control personImg" placeholder="Enter host name"
                    name="number" #hostName />
                </div>
              </div>
              <div class="col m6 s6 paddingHostContactDiv1">
                <div class="col m12 inputHostContactDiv2">
                  <input type="text" id="number" class="form-control contactImg" placeholder="Enter host phone number"
                    name="number" #hostNum />
                </div>
              </div>
            </div>

            <div class="col m12 s12 subHostContactDiv">
              <mat-radio-group aria-label="Select an option" class="cstmRadio">
                <mat-radio-button value="1">Travelling to client location</mat-radio-button>
                <mat-radio-button value="2">Office location</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="col m12 s12 subHostContactDiv">
              <div class="col m6 s6 paddingHostContactDiv1">
                <div class="col m12 inputHostContactDiv1">
                  <input type="text" id="number" class="form-control personImg" placeholder="Enter client name"
                    name="number" #clientName />
                </div>
              </div>
              <div class="col m6 s6 paddingHostContactDiv1">
                <div class="col m12 inputHostContactDiv2">
                  <input type="text" id="number" class="form-control locationImg" placeholder="Enter client address"
                    name="number" #clientaddress />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-----HostContactDiv input end------>
      </div>

      <!-----(third division) start------->
      <!-----------------home contact start------------------>
      <div class="col m12 s12" style="margin-top:3%">
        <div class="col m12 s12 mainHostContactDiv">
          <h6 class="mainHeading headingProperty">Home Contact</h6>
          <div class="col m12 s12 subHostContactDiv">
            <div class="col m6 s6 paddingHostContactDiv1">
              <div class="col m12 inputHostContactDiv1">
                <input type="text" id="number" class="form-control personImg" placeholder="Enter your name"
                  name="number" #Name />
              </div>
            </div>
            <div class="col m6 s6 paddingHostContactDiv1">
              <div class="col m12 inputHostContactDiv2">
                <input type="text" id="number" class="form-control contactImg" placeholder="Enter your phone number"
                  name="number" #Num />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-----------------home contact end----------------->
      <!-----------------Agenda start----------------->
      <div class="col m12 s12" style="margin-top:2%;margin-bottom: 2%;">
        <div class="col m12 s12 mainHostContactDiv">
          <h6 class="mainHeading headingProperty">Agenda</h6>
          <div class="col m12 s12  paddingHostContactDiv1">
            <div class="col m12 s12 textAreaDiv">
              <textarea class="textareaStyle" rows="4" cols="50" placeholder="Enter your Agenda"></textarea>
              <span class="textAreaSpan">(Maximum 500 character allow)</span>
            </div>
          </div>
        </div>
      </div>
      <!-----------------Agenda end----------------->
      <div class="col md12 s12 cstmCheckboxType2">
        <mat-checkbox>Do you need a laptop</mat-checkbox>
      </div>
      <!-----------------Additional Notes start----------------->
      <div class="col m12 s12" style="margin-top:2%">
        <div class="col m12 s12 mainHostContactDiv">
          <h6 class="mainHeading headingProperty">Additional Notes</h6>
          <div class="col m12 s12  paddingHostContactDiv1">
            <div class="col m12 s12 textAreaDiv">
              <textarea class="textareaStyle" rows="4" cols="50" placeholder="Enter your Agenda"></textarea>
              <span class="textAreaSpan">(Maximum 500 character allow)</span>
            </div>
          </div>
        </div>
      </div>
      <!-----------------Additional Notes end----------------->
      <!-----------------Travel Approximate Cost start------------------>
      <div class="col m12 s12" style="margin-top:2%">
        <div class="col m12 s12 mainHostContactDiv">
          <h6 class="mainHeading headingProperty">Travel Approximate Cost</h6>
          <div class="col m12 s12 subHostContactDiv">
            <div class="col m3 s3 paddingHostContactDiv1">
              <div class="col m12 inputHostContactDiv1">
                <label class="labelStyle">Hotel:</label>
                <input type="text" id="number" class="form-control hotelImg" placeholder="Enter Hotel Cost"
                  name="number" #Name />
              </div>
            </div>
            <div class="col m3 s3 paddingHostContactDiv1">
              <div class="col m12 inputHostContactDiv2">
                <label class="labelStyle">Pdeaems:</label>
                <input type="text" id="number" class="form-control pdeaemsImg" placeholder="Enter Pdeaems Cost "
                  name="number" #Num />
              </div>
            </div>
            <div class="col m3 s3 paddingHostContactDiv1">
              <div class="col m12 inputHostContactDiv2">
                <label class="labelStyle">Airfare:</label>
                <input type="text" id="number" class="form-control airfareImg" placeholder="Enter Airfare Cost "
                  name="number" #Num />
              </div>
            </div>
            <div class="col m3 s3 paddingHostContactDiv1">
              <div class="col m12 inputHostContactDiv2">
                <h5 class="totalCostVal">0.00</h5>
                <p class="totalCostText">Total Cost</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-----------------Travel Approximate Cost end----------------->
      <div class="col m12 s12" style="margin-top:2%">
        <div class="submitBtn">
          <button type="button" class="btn btn-primary submitBtnStyle">Submit</button>
        </div>
      </div>

      <!-----third division end------->

    </div>
  </div>
</div>