@media only screen and (min-width: 961px) {
  ::ng-deep .marleft {
    margin-left: 200px;
  }
}
.titleDiv {
  width: 97%;
  margin: 2% auto -4px;
}
.colorStyle::-webkit-meter-optimum-value {
  background: #9540a9 !important;
}
.meterTag2 {
  width: 97%;
  height: 0.3vw;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
/*******************topDiv*************************/
.projectIdDiv {
  margin-bottom: 2% !important;
}
.labelMargin {
  margin-right: 2%;
}
.searchInputBox {
  display: inline-block;
  width: 25%;
}
.searchImg {
  background: url(/assets/icons/search.png) no-repeat #fff;
  background-size: 7%;
  background-position: 96% center;
  padding-left: 1%;
  border-radius: 4px !important;
}
.selectBackground {
  background-color: #ebf6f7 !important;
}
.headingSpace {
  margin-bottom: 3%;
}

/******************title*********************/
.mainHeading {
  font-weight: 600;
  font-size: 1em !important;
}
/*******************btn*****************/
.div1 {
  width: 50%;
  float: left;
}
.searchInputBox2 {
  width: 100%;
  padding: 3%;
}
.searchImg2 {
  background: url(/assets/icons/search.png) no-repeat #fff;
  background-size: 4%;
  background-position: 96% center;
  border-radius: 4px !important;
}
.BtnDiv1 {
  width: 50%;
  float: left;
  text-align: center;
}
.BtnDiv {
  text-align: right;
}
.addCountryBtn {
  background-color: #189db2;
  border: 1px solid #189db2;
  border-radius: 20px;
  margin-right: 0.5%;
  width: 50%;
}
.addCityBtn {
  background-color: #189db2;
  border: 1px solid #189db2;
  border-radius: 20px;
  width: 43%;
}
.addImg {
  margin-right: 3%;
}

.removeBtn {
  background-color: #e62825 !important;
  border-color: #e62825 !important;
  color: #fff;
}

/****************travelDetailDiv******************/
.travelDetailDiv1 {
  margin-top: 3%;
  color: #9540a9;
  font-weight: 600;
}
.travelFromPlaceHeading {
  margin-bottom: 1% !important;
  margin-top: 3%;
}
.widthStyle {
  width: 84% !important;
  margin-top: 8% !important;
}
.travelFromPlaceInfo {
  margin-bottom: 2% !important;
  font-size: 0.9em !important;
  color: gray !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.travelFromPlaceInfo2 {
  width: 70%;
  font-size: 1em !important;
  color: gray !important;
}
.marginStyle {
  margin-top: 4%;
}
.marginHeadingStyle {
  margin-bottom: 2% !important;
}

.formMargin {
  margin-top: 3%;
}
/********travelRequestDiv************/
.cstmTravelRequestDiv {
  margin-top: 1%;
  display: table;
  width: 100%;
}
.cstmTravelRequestDiv div {
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  width: 100%;
  font-size: 0.9em !important;
}
.cstmTravelRequestDiv div:nth-of-type(1) {
  width: 19% !important;
}
.cstmTravelRequestDiv div:nth-of-type(2) {
  width: 30% !important;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
}
.cstmTravelRequestDiv div:nth-of-type(3) {
  width: 30% !important;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  border-right: none !important;
}
.cstmTravelRequestDiv div:nth-of-type(4) {
  width: auto !important;
  border-right: none !important;
}
.cstmSpan {
  color: #9540a9;
  font-weight: 600;
}
.cstmSpan2 {
  border-right: 2px solid #ccc;
  padding-right: 2%;
  margin-right: 2%;
  margin-left: 2%;
}
.imgStyle {
  margin-right: 2%;
  margin-bottom: 2%;
}

/************selectDiv***************/
.paddingStyleDiv1 {
  padding-left: 0 !important;
}
.paddingStyleDiv2 {
  padding-right: 0 !important;
}
.selectDiv {
  background-color: #efefef;
  padding: 1% 2% 3% 2% !important;
  border-radius: 4px;
}
.boldText {
  font-weight: 600;
  color: #212529 !important;
}

/************visaDetailDiv***************/
.mainVisaDetailsDiv {
  background-color: #efefef !important;
  border-radius: 4px;
}
.subVisaDetailsDiv {
  display: table;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.subVisaDetailsDiv div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  font-size: 0.9em !important;
  color: gray !important;
  font-weight: 600;
}
.subVisaDetailsDiv div:nth-of-type(1) {
  width: 33% !important;
  text-align: left;
}
.subVisaDetailsDiv div:nth-of-type(2) {
  width: 33% !important;
}
.subVisaDetailsDiv div:nth-of-type(3) {
  width: 34% !important;
}
.spanMarginStyle {
  margin-right: 2%;
}

/**********************HostContactDiv***************************/
.mainHostContactDiv {
  background-color: #efefef !important;
  border-radius: 4px;
}
.headingBtnDiv {
  margin-top: 1%;
}
.headingProperty {
  float: left;
}
.addHostContactBtn {
  background-color: #189db2;
  border: 1px solid #189db2;
  border-radius: 20px;
  width: 18%;
}
.subHostContactDiv {
  padding: 0 !important;
}
.paddingHostContactDiv1 {
  padding: 0 !important;
}
.inputHostContactDiv1 {
  padding: 2% 2% 3% 0% !important;
}
.inputHostContactDiv2 {
  padding: 2% 0% 3% 2% !important;
}
.personImg {
  background: url("/assets/icons/user.png") no-repeat #fff;
  background-size: 2.5%;
  background-position: 98% center;
}
.contactImg {
  background: url("/assets/icons/phone.png") no-repeat #fff;
  background-size: 3%;
  background-position: 98% center;
}
.locationImg {
  background: url("/assets/icons/map_icon.png") no-repeat #fff;
  background-size: 2.5%;
  background-position: 98% center;
}

.cstmRadio .mat-radio-button {
  margin-right: 2% !important;
}

/***************textarea*********************/
.textAreaDiv {
  padding: 1% 2% 1% 0% !important;
}
.textareaStyle {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100% !important;
  padding: 0.375rem 0.75rem;
}
.textAreaSpan {
  float: right;
  font-size: 0.9em;
  color: gray !important;
}

/********************Travel Approximate Cost ****************************/
.labelStyle {
  font-weight: 600;
}
.hotelImg {
  background: url("/assets/icons/hotel.png") no-repeat #fff;
  background-size: 7%;
  background-position: 98% center;
}
.pdeaemsImg {
  background: url("/assets/icons/pdeams.png") no-repeat #fff;
  background-size: 7%;
  background-position: 98% center;
}
.airfareImg {
  background: url("/assets/icons/flight.png") no-repeat #fff;
  background-size: 5%;
  background-position: 98% center;
}
.totalCostVal {
  text-align: right;
  margin-bottom: 0;
}
.totalCostText {
  text-align: right;
  color: gray !important;
}
/*************************btn***********************/
.submitBtn {
  width: 100%;
  text-align: right;
  margin-bottom: 2%;
}
.submitBtnStyle {
  background-color: #9540a9;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #9540a9;
  padding-right: 2%;
  padding-left: 2%;
}
/*****************dateTimeCalendar******************************/
.calendarTimeStyle .labelStyle{
  color: #9540a9;
}
.calendarTimeStyle .dateTimeInputval{
  width: 61%;
}
.calendarTimeStyle .calendarIconStyle{
  float: left;
  margin-right: 2%;
  color: #9540a9;
}

@media only screen and (max-width: 1024px) {
  .travelFromPlaceHeading {
    width: 98%;
    margin-left: 2%;
  }
  .addHostContactBtn {
    width: 25%;
  }
}
