/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "m-modified.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";   
::-webkit-scrollbar {

    width: 8px;

}

::-webkit-scrollbar-button {

    width: 8px;

    height:5px;

}

::-webkit-scrollbar-track {

    background:#eee;

    border: thin solid lightgray;

    box-shadow: 0px 0px 3px #dfdfdf inset;

    border-radius:10px;

}

::-webkit-scrollbar-thumb {

    background:#999;

    border: thin solid gray;

    border-radius:10px;

}

::-webkit-scrollbar-thumb:hover {

    background:#7d7d7d;

}     





::-moz-scrollbar {

    width: 8px;

}

::-moz-scrollbar-button {

    width: 8px;

    height:5px;

}

::-moz-scrollbar-track {

    background:#eee;

    border: thin solid lightgray;

    box-shadow: 0px 0px 3px #dfdfdf inset;

    border-radius:10px;

}

::-moz-scrollbar-thumb {

    background:#999;

    border: thin solid gray;

    border-radius:10px;

}

::-moz-scrollbar-thumb:hover {

    background:#7d7d7d;

}
