<div class="row marleft">
  <div class="col m10 s10 tabDiv">
    <!-- <mat-tab-group class="tabMainRequest">
      <mat-tab label="Travel Request">
        <mat-tab-group class="tabRequest">
          <mat-tab label="In Progress"> -->
  
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle">Main </span>
          <span class="headingTitle">Sub</span>
          <span class="headingTitle">Name</span>
          <span class="headingTitle">Address</span>
          <span class="headingTitle">Phone</span>          
          <span class="headingTitle">Status</span>
        </div>
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;" *ngFor="let x of cv">
            <span>
              {{x.MainCategoryId}}
            </span>
            <span>
              {{x.SubCategoryId}}
            </span>
            <span>
            {{x.name}}
            </span>
            <span>
             {{x.address}}
            </span>
            <span>
              {{x.phone}}
             </span>
             <span>
              {{x.Status}}
             </span>
          </div>
        </div>
        <div>
          
        </div>
      </div>
    </div>

    <!-- 
          </mat-tab> -->
    <!-- 
          <mat-tab label="Closed" >
            <div class="col m12 s12" style="margin-top:40px">
              <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
                <div class="col m12 s12 mat-elevation-z8 mainDiv"
                  style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
                  <span class="headingTitle">Ticket ID</span>
                  <span class="headingTitle">Home Location</span>
                  <span class="headingTitle">Travelling Country</span>
                  <span class="headingTitle">Start Date</span>
                  <span class="headingTitle">Status</span>
                  <span class="headingTitle">Action</span>
                </div>
                <div class="col m12 s12">
                  <div class="mainDiv mainDiv1" style="margin-top: 2%;" *ngFor="let x of cv">
                    <span>
                      xyz001
                    </span>
                    <span>
                      Generated 5 paragraphs, 449 words, 3092 bytes
                    </span>
                    <span>
                      Washington US
                    </span>
                    <span>
                      18Sep2019
                    </span>
                    <span>
                      <button type="button" class="btn btn-primary statusBtn" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@getbootstrap">
                        In Progress</button>
                    </span>
                    <span>
                      <button type="button" class="btn btn-primary viewDetailBtn" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@getbootstrap">
                        View Details</button>
                    </span>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-primary createNewRequestBtn" data-toggle="modal"
                    data-target="#exampleModal" data-whatever="@getbootstrap">
                    Create New Request</button>
                </div>
              </div>
            </div>

          </mat-tab> -->
    <!-- 
        </mat-tab-group>
      </mat-tab> -->
    <!-- <mat-tab label="Visa Request">
          <mat-tab-group class="tabRequest">
              <mat-tab label="In Progress">
                <div class="col m12 s12" style="margin-top:40px">
                  <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
                    <div class="col m12 s12 mat-elevation-z8 mainDiv"
                      style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
                      <span class="headingTitle">Ticket ID</span>
                      <span class="headingTitle">Home Location</span>
                      <span class="headingTitle">Travelling Country</span>
                      <span class="headingTitle">Start Date</span>
                      <span class="headingTitle">Status</span>
                      <span class="headingTitle">Action</span>
                    </div>
                    <div class="col m12 s12">
                      <div class="mainDiv mainDiv1" style="margin-top: 2%;" *ngFor="let x of cv">
                        <span>
                          xyz001
                        </span>
                        <span>
                          Generated 5 paragraphs, 449 words, 3092 bytes
                        </span>
                        <span>
                          Washington US
                        </span>
                        <span>
                          18Sep2019
                        </span>
                        <span>
                          <button type="button" class="btn btn-primary statusBtn" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@getbootstrap">
                            In Progress</button>
                        </span>
                        <span>
                          <button type="button" class="btn btn-primary viewDetailBtn" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@getbootstrap">
                            View Details</button>
                        </span>
                      </div>
                    </div>
                    <div>
                      <button type="button" class="btn btn-primary createNewRequestBtn" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@getbootstrap">
                        Create New Request</button>
                    </div>
                  </div>
                </div>
    
    
              </mat-tab>
    
              <mat-tab label="Closed" >
                <div class="col m12 s12" style="margin-top:40px">
                  <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
                    <div class="col m12 s12 mat-elevation-z8 mainDiv"
                      style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
                      <span class="headingTitle">Ticket ID</span>
                      <span class="headingTitle">Home Location</span>
                      <span class="headingTitle">Travelling Country</span>
                      <span class="headingTitle">Start Date</span>
                      <span class="headingTitle">Status</span>
                      <span class="headingTitle">Action</span>
                    </div>
                    <div class="col m12 s12">
                      <div class="mainDiv mainDiv1" style="margin-top: 2%;" *ngFor="let x of cv">
                        <span>
                          xyz001
                        </span>
                        <span>
                          Generated 5 paragraphs, 449 words, 3092 bytes
                        </span>
                        <span>
                          Washington US
                        </span>
                        <span>
                          18Sep2019
                        </span>
                        <span>
                          <button type="button" class="btn btn-primary statusBtn" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@getbootstrap">
                            In Progress</button>
                        </span>
                        <span>
                          <button type="button" class="btn btn-primary viewDetailBtn" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@getbootstrap">
                            View Details</button>
                        </span>
                      </div>
                    </div>
                    <div>
                      <button type="button" class="btn btn-primary createNewRequestBtn" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@getbootstrap">
                        Create New Request</button>
                    </div>
                  </div>
                </div>
    
              </mat-tab>
            </mat-tab-group>
      </mat-tab> -->
    <!-- </mat-tab-group> -->
    <!-- <div class="service-error" *ngIf="error">
      <h1>{{error.errorTitle}}</h1>
      <h3>{{error.errorDesc}}</h3>
   </div> -->
  </div>
</div>