<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Currency Master
      <div class="BtnDiv">
        <!-- <button type="button" class="btn btn-primary downloadBtn" (click)="downloadFile()"><img
            src="assets/icons/downloadIcon.png" />Download<span style="font-size: 0.6em;vertical-align: middle;">(Excel
            Format)</span>
        </button>
         <button type="button" class="btn btn-primary importCurrencyBtn" data-toggle="modal"
          data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
            src="assets/icons/import-employee.png" class="importEmpImg" />Import
          Currency</button>
        <button type="button" class="btn btn-primary addRoleBtn" data-toggle="modal" data-target="#addCurrencyModal"
          data-whatever="@getbootstrap"><img src="assets/icons/add-employee.png" /> Add Currency</button> -->
        <button mat-raised-button class="btn btn-primary importCurrencyBtn" matTooltip="Import
        Currency" aria-label="displays a tooltip" matTooltipPosition="before" data-toggle="modal"
          data-target="#excelUploadModal" data-whatever="@getbootstrap">
          <img accept=".xlsx" src="assets/icons/import-employee.png" />
        </button>
        <button mat-raised-button class="btn btn-primary addRoleBtn" matTooltip="Add Currency"
          aria-label="displays a tooltip" matTooltipPosition="before" data-toggle="modal"
          data-target="#addCurrencyModal" data-whatever="@getbootstrap">
          <img src="assets/icons/add-employee.png" />
        </button>
      </div>
    </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="searchDiv">
      <input class="form-control form-control-sm searchImg" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="Search by all field name ">
    </div>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle1">S.No</span>
          <span class="headingTitle">Country</span>
          <span class="headingTitle">Currency</span>
          <span class="headingTitle">Price</span>
          <span class="headingTitle">Action</span>
        </div>
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;"
            *ngFor="let x of cv | filter:searchText ; let i = index">
            <span>
              {{i+1}}
            </span>
            <span>
              {{x.country}}
            </span>
            <span>
              {{x.Currency}}
            </span>
            <span>
              {{x.Price}}
            </span>
            <span>
              <img src="assets/icons/edit_icon.png" class="editIcon" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap" (click)="AddEmp('Edit Details',x)">
              <img src="assets/icons/view_icon.png" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap" (click)="AddEmp('View Details')">
            </span>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-------------------- addmodal---------------------------->
<div class="modal fade" id="addCurrencyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Currency Master</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <!-- <div class="modal-body">
          <form [formGroup]="currencyformGroup" (keypress)="($event.charCode==13)?send():''">
        <div class="row">
          <div class="col-md-6">
            <label for="recipient-name" class="col-form-label">Country:<span
              style="color: red;">*</span></label>
            <select name="cars" class="form-control inputStyle" formControlName="country" [(ngModel)]="country">
              <option value="volvo">India</option>
              <option value="saab">Canada</option>
              <option value="fiat">China</option>
              <option value="audi">USA</option>
            </select>
            <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
              *ngIf="currencyformGroup.controls.country.hasError('required') && currencyformGroup.controls.country.touched"
              style="font-size: 13px" role="alert">
              <strong class="error"> </strong> Please Enter Country
            </div>
          </div>
          <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> New Price:<span
                style="color: red;">*</span></label>
              <input type="text" id="number" class="form-control inputStyle" name="number" formControlName="newPrice"
                [(ngModel)]="newPrice" />
                <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="currencyformGroup.controls.newPrice.hasError('required') && currencyformGroup.controls.newPrice.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Price
              </div>
          </div>
        </div>
        </form>
      </div> -->
      <div class="modal-footer">
        <div style=" width: 100%;text-align: center;">
          <button type="button" class="btn btn-primary submitBtnStyle" [disabled]="!currencyformGroup.valid" (click)="send($event)">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------addModal------------------------>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titleHeading}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Old Price:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #conNum
                [(ngModel)]="price" />
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> New Price:</label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #Address />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="recipient-name" class="col-form-label">Select Country:</label>

              <select s type="number" class="form-control inputStyle">
                <option value="India">India</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="USA">USA</option>

              </select>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <div class="submitBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">Submit</button>
        </div>
        <div class="cancelBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div> -->

<!-------------importmodal--------------------->
<div class="modal fade" id="excelUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Currency</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="uploadfileForm">
          <div class="form-group uploadFileDiv">
            <!-- <label class="file">
              <input type="file" id="file" accept=".xlsx" (change)="onSelectedFile($event)" />
              <span class="file-custom"></span>
            </label> -->
            <!-- <input type="file" name="profile" accept=".xlsx" (change)="onSelectedFile($event)" />  -->

            <input style="display: none" type="file" accept=".xlsx" (change)="onFileSelect($event)" #hiddenfileinput>
            <button (click)="hiddenfileinput.click()" class=" waves-effect waves-light btn browseBtn">Browse</button>
            <span class="fileName">{{this.selectedFile}}</span>
          </div>
        </form>
        <div>
          <h6 class="titleDiv">Import Status</h6>
          <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
          <div class="importStatusDiv importStatusDivBorder">
            <span></span>
            <span>10 records fail</span>
            <span></span>
          </div>
          <div class="importStatusDiv2">
            <span></span>
            <span>30 records pass</span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="submitBtn">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">Submit</button>
        </div>
        <div class="cancelBtn">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>