<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Project Master
      <div class="BtnDiv">
        <!-- <button type="button" class="btn btn-primary downloadBtn" (click)="downloadFile()"><img
            src="assets/icons/downloadIcon.png" />Download <span style="font-size: 0.6em;vertical-align: middle;">(Excel
            Format)</span>
        </button>
        <button type="button" class="btn btn-primary importProjectBtn" data-toggle="modal"
          data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
            src="assets/icons/import-employee.png" class="importEmpImg" />Import
          Project</button>
        <button type="button" class="btn btn-primary addEmployeeBtn" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@getbootstrap" (click)="AddEmp('Add Project','oo')"><img src="assets/icons/add-employee.png" />
          Add
          Project</button> -->
          <button mat-raised-button class="btn btn-primary downloadBtn" matTooltip="Download(Excel
          Format)" aria-label="displays a tooltip" matTooltipPosition="before" (click)="downloadFile()">
            <img src="assets/icons/downloadIcon.png" />
          </button>
          <button mat-raised-button class="btn btn-primary importProjectBtn" matTooltip="Import
          Project" aria-label="displays a tooltip" matTooltipPosition="before" data-toggle="modal"
            data-target="#excelUploadModal" data-whatever="@getbootstrap">
            <img accept=".xlsx" src="assets/icons/import-employee.png" />
          </button>
          <button mat-raised-button class="btn btn-primary addEmployeeBtn" matTooltip="Add Project"
            aria-label="displays a tooltip" matTooltipPosition="before" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@getbootstrap" (click)="AddEmp('Add Project','oo')">
            <img src="assets/icons/add-employee.png" />
          </button>
      </div>
    </h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="searchDiv">
      <input class="form-control form-control-sm searchImg" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="Search by all field name ">
    </div>
    <div class="col m12 s12" style="margin-top:40px" *ngIf="getProjectList?.length > 0">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12 mat-elevation-z8 mainDiv"
          style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px">
          <span class="headingTitle1">Project Name 1</span>
          <span class="headingTitle">Start Date</span>
          <span class="headingTitle">End Date</span>
          <span class="headingTitle">Approval Hierarchy</span>
          <span class="headingTitle">Organization</span>
          <span class="headingTitle">Action</span>
        </div>
        <div class="col m12 s12">
          <div class="mainDiv mainDiv1" style="margin-top: 2%;"
            *ngFor="let x of getProjectList | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p } ">
            <span>
              {{x.project_name}}
            </span>
            <span>
              {{x.date_created | date: 'dd/MM/yyyy'}}
            </span>
            <span>
              {{x.End_Date | date: 'dd/MM/yyyy'}}
            </span>
            <span>
              {{x.approval_hierarchy}}
            </span>
            <span>
              {{x.organization}}
            </span>

            <span>
              <img src="assets/icons/edit_icon.png" class="editIcon" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap" (click)="AddEmp('Edit Details',x)">
              <img src="assets/icons/view_icon.png" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap" (click)="AddEmp('View Details',x)">
            </span>
          </div>

        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>
<div class="col m12 s12 mat-elevation-z8 mainDiv"
  style="margin-top:-20px;border-radius:4px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:10px"
  class="col m12 s12" *ngIf="getProjectList?.length == 0">
  <span class="headingTitle1">Data not found for server</span>

</div>


<!------------------------addModal------------------------>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <!-- <div class="modal-body">
        <form [formGroup]="projectDetailformGroup" (keypress)="($event.charCode==13)?send(''):''">
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Project Name:<span style="color: red;">*</span></label>
              <input type="text" id="number" class="form-control inputStyle" name="ProjectName" #ProjectName
                formControlName="projectName" [(ngModel)]="projectName" />
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.projectName.hasError('required') && projectDetailformGroup.controls.projectName.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Project Name
              </div>
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.projectName.hasError('maxlength') && projectDetailformGroup.controls.projectName.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter maximum 100 digit
              </div>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Organization:<span style="color: red;">*</span></label>
              <input type="text" id="number" class="form-control inputStyle" name="organization" #OrganizationName
                formControlName="organization" [(ngModel)]="organization" />
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.organization.hasError('required') && projectDetailformGroup.controls.organization.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Organization
              </div>
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.organization.hasError('maxlength') && projectDetailformGroup.controls.organization.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter maximum 50 digit
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Project manager:<span style="color: red;">*</span></label>
              <select name="Reporting" class="form-control inputStyle" formControlName="ReportingManagerName"
                [(ngModel)]="ReportingManagerName" (change)="onProjectmanager($event.target.value)">
                <option value="select country list">Select project manager</option>
                <option *ngFor="let manager of getManagerList" value="{{manager.id}}">{{manager.first_name}}</option>
              </select>
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.ReportingManagerName.hasError('required') && projectDetailformGroup.controls.ReportingManagerName.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Reporting Manager Name
              </div>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Project ID:<span style="color: red;">*</span></label>
              <input type="number" id="number" class="form-control inputStyle" name="number" formControlName="projectID"
                [(ngModel)]="projectID" />
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.projectID.hasError('required') && projectDetailformGroup.controls.projectID.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Project ID
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Employee executive:<span style="color: red;">*</span></label>
              <select name="cars" class="form-control inputStyle" formControlName="employeeExecutive"
                [(ngModel)]="employeeExecutive" (change)="onemployeeExecutive($event.target.value)">
                <option value="select country list">Select project manager</option>
                <option *ngFor="let manager of getManagerList" value="{{manager.id}}">{{manager.first_name}}</option>
              </select>
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.employeeExecutive.hasError('required') && projectDetailformGroup.controls.employeeExecutive.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Employee Executive
              </div>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label"> Business Lead:<span style="color: red;">*</span></label>
              <select name="cars" class="form-control inputStyle" formControlName="businesslead"
                [(ngModel)]="businesslead" (change)="onBusinessLead($event.target.value)">
                <option value="select country list">Select project manager</option>
                <option *ngFor="let manager of getManagerList" value="{{manager.id}}">{{manager.first_name}}</option>
              </select>
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.businesslead.hasError('required') && projectDetailformGroup.controls.businesslead.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Businesslead
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Start Date:<span style="color: red;">*</span></label>
              <input type="date" id="number" class="form-control inputStyle" name="number" formControlName="startDate"
                [(ngModel)]="startDate" />
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.startDate.hasError('required') && projectDetailformGroup.controls.startDate.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter StartDate
              </div>
            </div>
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">End Date:<span style="color: red;">*</span></label>
              <input type="date" id="number" class="form-control inputStyle" name="number" formControlName="endDate"
                [(ngModel)]="endDate" />
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.endDate.hasError('required') && projectDetailformGroup.controls.endDate.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter End Date
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Approval Hierarchy:<span style="color: red;">*</span></label>
              <input type="text" id="number" class="form-control inputStyle" name="number" #approvalName
                formControlName="approvalHierarchy" [(ngModel)]="approvalHierarchy" />
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.approvalHierarchy.hasError('required') && projectDetailformGroup.controls.approvalHierarchy.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Approval Hierarchy
              </div>
            </div>
           
            <div class="col-md-6">
              <label for="recipient-name" class="col-form-label">Expense Approver:<span style="color: red;">*</span></label>
              <select name="cars" class="form-control inputStyle" formControlName="expenseApprover"
                [(ngModel)]="expenseApprover" (change)="onExpenseApprover($event.target.value)">
                <option value="select country list">Select project manager</option>
                <option *ngFor="let manager of getManagerList" value="{{manager.id}}">{{manager.first_name}}</option>
              </select>
              <div class="alert alert-warning alert-dismissible fade show error cstmAlert"
                *ngIf="projectDetailformGroup.controls.expenseApprover.hasError('required') && projectDetailformGroup.controls.expenseApprover.touched"
                style="font-size: 13px" role="alert">
                <strong class="error"> </strong> Please Enter Expense Approver
              </div>
            </div>

          </div>
        </form>
      </div> -->
      <div class="modal-footer">
        <div class="submitBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)" [disabled]="!projectDetailformGroup.valid">Submit</button>
        </div>
        <div class="cancelBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="send($event)">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>


<!-------------importmodal--------------------->
<div class="modal fade" id="excelUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="uploadfileForm">
          <div class="form-group uploadFileDiv">
            <!--  <label class="file">
              <input type="file" id="file" accept=".xlsx" (change)="onSelectedFile($event)" />
              <span class="file-custom"></span>
            </label>
             <input type="file" name="profile" accept=".xlsx" (change)="onSelectedFile($event)" /> -->
            <input style="display: none" type="file" accept=".xlsx" (change)="onFileSelect($event)" #hiddenfileinput>
            <button (click)="hiddenfileinput.click()" class=" waves-effect waves-light btn browseBtn">Browse</button>
            <span class="fileName">{{this.selectedFile}}</span>
          </div>
        </form>
        <div>
          <h6 class="titleDiv">Import Status</h6>
          <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
          <div class="importStatusDiv importStatusDivBorder">
            <span></span>
            <span>10 records fail</span>
            <span></span>
          </div>
          <div class="importStatusDiv2">
            <span></span>
            <span>30 records pass</span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="submitBtn">
          <button type="button" class="btn btn-primary submitBtnStyle" >Submit</button>
        </div>
        <div class="cancelBtn">
          <button type="button" class="btn btn-primary cancelBtnStyle" >Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>

<ng4-loading-spinner class="loaderIcon" [threshold]="2000" [timeout]="4000" [loadingText]="'Please wait...'"
  [zIndex]="9999">
</ng4-loading-spinner>