<div class="row marleft">
  <div class="col m10 s10">
    <h6 class="titleDiv">Import Files</h6>
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12" style="border-radius:4px;">
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Role Master</legend>
                <div class="btnDiv" (click)="callPage('Role Master','')">
                  <button type="button" class="btn btn-primary importBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Role
                  </button>
                  <a (click)="downloadFile('role')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Employee Master</legend>
                <div class="btnDiv" (click)="callPage('Employee Master','')">
                  <button type="button" class="btn btn-primary importEmployeeBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Employee</button>
                  <a (click)="downloadFile('employee')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Group Master</legend>
                <div class="btnDiv" (click)="callPage('Group Master','')">
                  <button type="button" class="btn btn-primary importBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Group</button>
                  <a (click)="downloadFile('group')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col m12 s12" style="border-radius:4px">
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Vendor Master</legend>
                <div class="btnDiv" (click)="callPage('Vendor Master','vendor')">
                  <button type="button" class="btn btn-primary importBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Vendor</button>
                  <a (click)="downloadFile('vendor')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Project Master</legend>
                <div class="btnDiv" (click)="callPage('Project Master','project')">
                  <button type="button" class="btn btn-primary importEmployeeBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Project</button>
                  <a (click)="downloadFile('project')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Currency Master</legend>
                <div class="btnDiv" (click)="callPage('Currency Master','')">
                  <button type="button" class="btn btn-primary importBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Currency</button>
                  <a (click)="downloadFile('currency')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row marleft">
  <div class="col m10 s10">
    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12" style="border-radius:4px;">
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Department Master</legend>
                <div class="btnDiv" (click)="callPage('Role Master','department')">
                  <button type="button" class="btn btn-primary importBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Department
                    Role</button>
                  <a (click)="downloadFile('department')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Organization Master</legend>
                <div class="btnDiv" (click)="callPage('Employee Master','organization')">
                  <button type="button" class="btn btn-primary importEmployeeBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Organization</button>
                  <a (click)="downloadFile('organization')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col m4 s4">
            <form class="divStyle divStyle2">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Organization location Master</legend>
                <div class="btnDiv" (click)="callPage('Group Master','Organization_location')">
                  <button type="button" class="btn btn-primary importBtn orgLocBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Import
                    Organization location</button>
                  <a (click)="downloadFile('organization_location')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row marleft">
  <div class="col m10 s10">

    <meter value="0.5" min="0" max="10" class="meterTag2 colorStyle"></meter>
    <div class="col m12 s12" style="margin-top:40px">
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <div class="col m12 s12" style="border-radius:4px;">
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Visa Master</legend>
                <div class="btnDiv" (click)="callPage('Visa Master','visa')">
                  <button type="button" class="btn btn-primary importBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Visa
                    Master</button>
                  <a (click)="downloadFile('visa')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col m4 s4">
            <form class="divStyle">
              <fieldset class="borderStyle">
                <legend class="cstmLegend">Country Master</legend>
                <div class="btnDiv" (click)="callPage('Country Master','country')">
                  <button type="button" class="btn btn-primary importBtn" data-toggle="modal"
                    data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                      src="assets/icons/import-employee.png" class="importEmpImg" />Country
                    Master</button>
                  <a (click)="downloadFile('country')">sample.xlsx</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------importmodal--------------------->
<div class="modal fade" id="excelUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
      <div class="modal-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="file">
              <input type="file" id="file" accept=".xlsx" (change)="onSelectedFile($event)" />
              <span class="file-custom"></span>
            </label>
            <!-- <input style="display: none" type="file" accept=".xlsx" (change)="onSelectedFile($event)" #hiddenfileinput>
            <button  class=" waves-effect waves-light btn browseBtn">Browse</button>
            <span class="fileName">{{this.selectedFile}}</span> -->
            <!-- <input type="file" name="profile"  accept=".xlsx"  (change)="onSelectedFile($event)" /> -->
          </div>
        </form>
        <div *ngIf="ShowDiv">
          <h6 class="titleDiv">Import Status </h6>
          <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
          <div class="importStatusDiv importStatusDivBorder">
            <span></span>
            <span>{{failRecords}} records fail</span>
            <span></span>
          </div>
          <div class="importStatusDiv2">
            <span></span>
            <span>{{passRecords}} records pass</span>
            <span></span>
          </div>
        </div>
        <div *ngIf="errorDiv">
          <h6 class="titleDiv">Import Status </h6>
          <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter>
          <div class="importStatusDiv importStatusDivBorder">
          
            <span>{{Error}}</span>
            <span></span>
          </div>
        
        </div>
      </div>
      <div class="modal-footer">
        <div class="submitBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary submitBtnStyle" (click)="send($event)">Submit</button>
        </div>
        <div class="cancelBtn" *ngIf="titleHeading != 'View Details'">
          <button type="button" class="btn btn-primary cancelBtnStyle" (click)="Cancel($event)">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>