@media only screen and (min-width: 961px) {
  ::ng-deep .marleft {
    margin-left: 200px;
  }
}
.titleDiv {
  width: 97%;
  margin: 2% auto -4px;
}
.meterTag::-webkit-meter-optimum-value {
  background: #9540a9;
  border-radius: 18px;
}
.meterTag {
  width: 100%;
  height: 0.3vw;
}
.colorStyle::-webkit-meter-optimum-value {
  background: #9540a9 !important;
}
.meterTag2 {
  width: 97%;
  height: 0.3vw;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.divStyle {
  width: 80%;
  margin: 5% auto;
}
.divStyle2{
  width: 92% !important;
}
.borderStyle {
  border: 2px groove #ccc !important;
}
.cstmLegend {
  width: auto;
  font-size: 1.2em;
  padding-left: 3%;
  color: #9540a9;
}
.btnDiv {
  text-align: center;
  margin-bottom: 5%;
}
.importBtn {
  background-color: #3a81c3;
  border: 1px solid #3a81c3;
  border-radius: 20px;
  width: 77%;
}
.orgLocBtn{
  width: 95% !important;
}
.importEmployeeBtn {
  background-color: #3a81c3;
  border: 1px solid #3a81c3;
  border-radius: 20px;
  width: 92%;
}
.importEmpImg {
  margin-right: 3%;
}
.modal-header {
  border-bottom: none;
}
.form-control {
  border: none !important;
}
.inputStyle {
  border-bottom: 1px solid #ced4da !important;
  border-radius: 0;
}
.inputPadding {
  padding-right: 0;
}
.modal-footer {
  border-top: none;
  width: 100%;
}
.submitBtn {
  width: 49%;
  text-align: right;
}
.cancelBtn {
  width: 49%;
}
.submitBtnStyle {
  background-color: #9540a9;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #9540a9;
}
.cancelBtnStyle {
  background-color: #169db1;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #169db1;
}

/***********************importStatusDiv***************************/
.importStatusDiv {
  margin-top: 5%;
  display: table;
  width: 100%;
  padding-bottom: 3%;
}
.importStatusDivBorder {
  border-bottom: 1px solid #ced4da;
}
.importStatusDiv span {
  display: table-cell;
  vertical-align: middle;
}
.importStatusDiv span:nth-of-type(1) {
  width: 8%;
  background: url(/assets/icons/fail_icon.png) no-repeat;
  background-size: auto;
  background-position: center;
}
.importStatusDiv span:nth-of-type(2) {
  width: 77%;
}
.importStatusDiv span:nth-of-type(3) {
  width: 15%;
  background: url(/assets/icons/download_icon.png) no-repeat;
  background-size: auto;
  background-position: center;
}
.importStatusDiv2 {
  margin-top: 3%;
  display: table;
  width: 100%;
  padding-bottom: 3%;
}
.importStatusDiv2 span {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.importStatusDiv2 span:nth-of-type(1) {
  width: 8%;
  background: url(/assets/icons/pass_cion.png) no-repeat;
  background-size: auto;
  background-position: center;
}
.importStatusDiv2 span:nth-of-type(2) {
  width: 77%;
}
.importStatusDiv2 span:nth-of-type(3) {
  width: 15%;
}
/***************************fileChoose************************/
.uploadfileForm{
  margin-top: 2%;
  margin-bottom: 4%;
}
.uploadFileDiv{
  border-bottom: 1px solid #ccc;
  width: 50%;
}
.browseBtn{
  color: #fff;
  background-color: #3a81c3;
}
.fileName{
  margin-left: 2%;
}